<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="center">
        <h:form>
            <h:panelGrid columns="1" styleClass="create-game-data-table">
                <p:dataTable value="#{manageGalleryBean.movieList}" var="movie" rows="4" styleClass="create-game-data-table"
                             editable="true">
                    <f:facet name="header">
                        <h:outputText value="Movie List Codes"/>
                    </f:facet>

                    <p:column headerText="Code" >
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{movie.code}"/>
                            </f:facet>
                            <f:facet name="input">
                                <h:inputText value="#{movie.code}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column headerText="Description">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{movie.description}"/>
                            </f:facet>
                            <f:facet name="input">
                                <h:inputText value="#{movie.description}" styleClass="text-box-450"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column headerText="Options" style="width:50px">
                        <p:rowEditor />
                    </p:column>
                </p:dataTable>

                <h:outputText value="&#160;"/>

                <p:dataTable value="#{manageGalleryBean.albumList}" var="album" rows="1" styleClass="create-game-data-table"
                             editable="true">
                    <f:facet name="header">
                        <h:outputText value="Album List Codes"/>
                    </f:facet>

                    <p:column headerText="Code" >
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{album.code}"/>
                            </f:facet>
                            <f:facet name="input">
                                <h:inputText value="#{album.code}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column headerText="Description">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{album.description}"/>
                            </f:facet>
                            <f:facet name="input">
                                <h:inputText value="#{album.description}" styleClass="text-box-450"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column headerText="Options" style="width:50px">
                        <p:rowEditor />
                    </p:column>
                </p:dataTable>

                <h:outputText value="&#160;"/>
            </h:panelGrid>
            <p:commandButton value="Back" action="../index.jsf?faces-redirect=true" immediate="true"/>
            <p:commandButton value="Save" action="#{manageGalleryBean.save}"/>
        </h:form>
    </ui:define>
</ui:composition>