<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="windowTitle" >
        Armory - Laser Skirmish Fun, Games &amp; Events Brisbane QLD
    </ui:define>

    <ui:define name="description">
        <meta name="description" content="Laser Commando in Brisbane has a large range of laser skirmish guns. Depending on your gaming style you can choose between various sized laser game guns. Our tag guns include: Saber, Cobra, Morita, Scorpion and Commando. Our phazers shoot laser beams that are eye safe" />
    </ui:define>

    <ui:define name="keywords">
        <meta name="keywords" content="laser tag guns, laser skirmish guns, laser game guns, laser phazers, tag guns, brisbane" />
    </ui:define>

    <ui:define name="center">
        <p>
            Laser Commando stocks a wide range of safe, top of the range phasers. Find a phaser here that will suit you the best!
        </p>
        <br/>
        <p>
            All of our phasers:
            <ul>
                <li>- can toggle between semi-auto and full-auto</li>
                <li>- can be used indoors, outdoors and day or night time.</li>
                <li>- are 100% portable, tough and weather-proof</li>
                <li>- have feedback information</li>
            </ul>
        </p>

        <table border="0" cellpadding="3" width="99%">
            <tbody>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td align="center" width="33%" valign="bottom">
                        <p:graphicImage value="https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/guns/tn_newm9_100tn1.jpg" width="170px"/>
                        <div>Saber</div>
                    </td>
                    <td align="center" width="33%" valign="bottom">
                        <p:graphicImage value="https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/guns/tn_commando.jpg"/>
                        <div>Commando Carbine</div>
                    </td>
                    <td align="center" width="33%" valign="bottom">
                        <p:graphicImage value="https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/guns/tn_cobraright10001.jpg"/>
                        <div>Cobra</div>
                    </td>
                </tr>
                <tr>
                    <td align="center" width="33%" valign="bottom">
                        <p:graphicImage value="https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/guns/tn_scorpion350.jpg"/>
                        <div>Scorpion Sub-Machine Gun</div>
                    </td>
                    <td align="center" width="33%" valign="bottom">
                        <p:graphicImage value="https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/guns/tn_moritasniper350.jpg"/>
                        <div>Morita Sniper Rifle</div>
                    </td>
                    <td align="center" width="33%" valign="bottom">
                        <p:graphicImage value="https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/guns/tn_jedimedicbox350.jpg"/>
                        <div>Medic Box</div>
                    </td>
                </tr>

            </tbody></table>
    </ui:define>
</ui:composition>