<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="center">
        <h:form id="addMapForm">
            <h:panelGrid columns="1">
                <h:panelGroup>
                    <h:outputText value="All fields are mandatory "/>
                </h:panelGroup>
            </h:panelGrid>

            <h:panelGrid columns="4">
                <h:outputText value="Location Name"/>
                <h:panelGroup>
                    <h:inputText id="mapName" value="#{manageMapBean.selectedMap.name}"
                                 maxlength="30"/>
                </h:panelGroup>

                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

                <h:outputText value="Category"/>
                <p:selectOneMenu value="#{manageMapBean.selectedMap.mapCategory}">
                    <f:selectItems value="#{manageMapBean.mapCategoryList}" var="mapCategoryLocal"
                                   itemValue="#{mapCategoryLocal.code}" itemLabel="#{mapCategoryLocal.description}" />
                </p:selectOneMenu>

                <h:outputText value="Difficulty"/>
                <p:rating value="#{manageMapBean.selectedMap.mapDifficulty}"/>

                <h:panelGroup>
                    <h:outputText value="Address line 1"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <h:inputText id="addressLine1" value="#{manageMapBean.selectedMap.address1}" required="true"
                             style="#{component.valid ? '' : 'border: solid 1px red;'}"
                             requiredMessage="Please enter address line 1" maxlength="20"/>

                <h:panelGroup>
                    <h:outputText value="Address line 2"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <h:inputText id="addressLine2" value="#{manageMapBean.selectedMap.address2}" required="true"
                             style="#{component.valid ? '' : 'border: solid 1px red;'}"
                             requiredMessage="Please enter address line 2" maxlength="20"/>

                <h:panelGroup>
                    <h:outputText value="City/Town"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <h:inputText id="city" value="#{manageMapBean.selectedMap.city}" required="true"
                             style="#{component.valid ? '' : 'border: solid 1px red;'}"
                             requiredMessage="Please enter the city" maxlength="20"/>

                <h:panelGroup>
                    <h:outputText value="State"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <h:inputText id="state" value="#{manageMapBean.selectedMap.state}" required="true"
                             style="#{component.valid ? '' : 'border: solid 1px red;'}"
                             requiredMessage="Please enter the state"/>

                <h:panelGroup>
                    <h:outputText value="Postal code"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <h:inputText id="postalCode" value="#{manageMapBean.selectedMap.postalCode}" required="true"
                             style="#{component.valid ? '' : 'border: solid 1px red;'}"
                             requiredMessage="Please enter the postal code" maxlength="6"/>

                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

                <h:outputText value="Location Notes/Directions"/>
                <h:panelGroup>
                    <h:inputTextarea id="mapDescription" cols="40" rows="5" value="#{manageMapBean.selectedMap.description}" >
                        <f:validateLength maximum="255"/>
                    </h:inputTextarea>
                </h:panelGroup>

                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

                <h:outputText value="Website"/>
                <h:inputText value="#{manageMapBean.selectedMap.website}" style="width: 200px"/>

                <h:outputText value="Coordinates"/>
                <h:inputText value="#{manageMapBean.selectedMap.coords}"/>

                <h:outputText value="Zoom level"/>
                <h:inputText value="#{manageMapBean.selectedMap.zoom}"/>

                <h:outputText value="Price per player"/>
                <h:inputText value="#{manageMapBean.selectedMap.pricePerPlayer}"/>

            </h:panelGrid>
            
            <p:commandButton value="Back" action="maplist.jsf?faces-redirect=true" immediate="true" rendered="#{manageMapBean.editMap}"/>
            <p:commandButton value="Update" action="#{manageMapBean.update}" rendered="#{manageMapBean.editMap}"/>

            <p:commandButton value="Back" action="../index.jsf?faces-redirect=true" immediate="true"  rendered="#{!manageMapBean.editMap}"/>
            <p:commandButton value="Add" action="#{manageMapBean.add}" rendered="#{!manageMapBean.editMap}"/>
        </h:form>
    </ui:define>
</ui:composition>