<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="center">
        <h:form>
            <p:dataTable value="#{manageMapBean.allMaps}" var="map" rows="8"
                         styleClass="create-game-data-table" paginator="true" paginatorPosition="bottom">
                <p:column headerText="Name" filterBy="#{map.name}" filterMatchMode="contains"
                          filterStyle="width: 40px">
                    <h:outputText value="#{map.name}"/>
                </p:column>
                <p:column headerText="Category" filterBy="#{map.mapCategoryDescription}" filterMatchMode="contains"
                          filterStyle="width: 40px">
                    <h:outputText value="#{map.mapCategoryDescription}"/>
                </p:column>
                <p:column headerText="Difficulty" filterBy="#{map.mapDifficulty}" filterMatchMode="contains"
                          filterStyle="width: 40px" style="width: 90px">
                    <p:rating value="#{map.mapDifficulty}" readonly="true"/>
                </p:column>
                <p:column headerText="Address">
                    <h:outputText value="#{map.address1}, #{map.address2}, #{map.city}, #{map.state}, #{map.postalCode}"/>
                </p:column>
                <p:column headerText="Coords">
                    <h:outputText value="#{map.coords}"/>
                </p:column>
                <p:column headerText="Zoom">
                    <h:outputText value="#{map.zoom}"/>
                </p:column>
                <p:column headerText="Per player">
                    <h:outputText value="#{map.pricePerPlayer}"/>
                </p:column>
                <p:column>
                    <p:commandButton value="EDIT"
                                    action="#{manageMapBean.edit(map)}"
                                    immediate="true"/>
                </p:column>
            </p:dataTable>
            <p:commandButton value="Back" action="../index.jsf?faces-redirect=true" immediate="true"/>
        </h:form>
    </ui:define>
</ui:composition>