<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="windowTitle" >
        Shop - Laser Skirmish Fun, Games &amp; Events Brisbane QLD
    </ui:define>

    <ui:define name="keywords">
        <meta name="keywords" content="laser tag guns, laser skirmish guns, laser game guns, laser phazers, tag guns, brisbane" />
    </ui:define>

    <ui:define name="facebook-like"/>
    <ui:define name="center">
        Our shop features Battle Commander toys that are exclusive to Laser Commando, party packs and more!
        <h:panelGroup id="submitShopItemPanelGroup">
            <h:panelGroup rendered="#{shopBean.selectedPayPalProduct != null}">
                <form id="submitShopItemForm" target="_self" action="#{webConstantsBean.payPalButtonUrl}" method="post">
                    <input type="hidden" name="cmd" value="_s-xclick"/>
                    <h:panelGroup rendered="#{!shopBean.selectedPayPalProduct.optionsEmpty}">
                        <input type="hidden" name="on0" value="#{shopBean.selectedPayPalProduct.optionListName}"/>
                        <input type="hidden" name="os0" value="#{shopBean.selectedOption}"/>
                    </h:panelGroup>

                    <h:panelGroup rendered="#{webConstantsBean.devEnvironment}">
                        <input type="hidden" name="hosted_button_id" value="#{shopBean.selectedPayPalProduct.sandboxHostedButtonId}"/>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{!webConstantsBean.devEnvironment}">
                        <input type="hidden" name="hosted_button_id" value="#{shopBean.selectedPayPalProduct.hostedButtonId}"/>
                    </h:panelGroup>
                </form>
            </h:panelGroup>
        </h:panelGroup>

        <div class="shop-wrapper">
            <table>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td>
                        <form target="_self" action="#{webConstantsBean.payPalButtonUrl}" method="post" class="paypal-cart-button">
                            <input type="hidden" name="cmd" value="_s-xclick"/>
                            <input type="hidden" name="encrypted" value="#{webConstantsBean.payPalCartKey}"/>
                            <input type="image" src="https://www.paypal.com/en_AU/i/btn/btn_viewcart_SM.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online."/>
                            <img alt="" border="0" src="https://www.paypal.com/en_AU/i/scr/pixel.gif" width="1" height="1"/>
                        </form>
                    </td>
                </tr>
                <ui:repeat value="#{shopBean.payPalProductList}" var="payPalProduct" varStatus="status">
                    <h:panelGroup rendered="#{status.index mod 3 eq 0}">
                        <tr></tr>
                    </h:panelGroup>
                    <td>
                        <div class="shop-item-wrapper white-anchor">
                            <h:form>
                                <h:panelGrid columns="1" style="height: 100%">
                                    <p:commandLink action="#{shopBean.setSelectedPayPalProduct(payPalProduct)}"
                                                   oncomplete="shopItemDialogWidgetVar.show();"
                                                   immediate="true"
                                                   update=":shopItemDialogPanelGroup">
                                        <p:graphicImage value="#{payPalProduct.product.smallImage}" width="100px" height="100px" alt="#{payPalProduct.product.name}"/>
                                    </p:commandLink>

                                    <!-- Build select box -->
                                    <h:panelGrid columns="1" rendered="#{!payPalProduct.optionsEmpty}">
                                        <p:selectOneMenu value="#{shopBean.selectedOption}">
                                            <f:selectItems value="#{payPalProduct.optionList}" var="option"
                                                           itemValue="#{option.value}" itemLabel="#{option.label}" />
                                        </p:selectOneMenu>
                                    </h:panelGrid>

                                    <p:commandLink action="#{shopBean.setSelectedPayPalProduct(payPalProduct)}"
                                                   oncomplete="shopItemDialogWidgetVar.show();"
                                                   immediate="true"
                                                   update=":shopItemDialogPanelGroup">
                                        <h:outputText value="#{payPalProduct.product.name}"/>
                                    </p:commandLink>
                                    <h:panelGroup>
                                        <h:outputText styleClass="price-colour" value="#{payPalProduct.product.price}">
                                            <f:convertNumber type="currency" />
                                        </h:outputText>
                                    </h:panelGroup>

                                    <p:commandLink action="#{shopBean.setSelectedPayPalProduct(payPalProduct)}"
                                                   update=":submitShopItemPanelGroup"
                                                   process="@form"
                                                   oncomplete="document.forms['submitShopItemForm'].submit();">
                                        <p:graphicImage value="https://www.paypal.com/en_AU/i/btn/btn_cart_SM.gif" alt="PayPal — The safer, easier way to pay online."/>
                                    </p:commandLink>
                                </h:panelGrid>
                            </h:form>
                        </div>
                    </td>
                </ui:repeat>
            </table>
        </div>
    </ui:define>
</ui:composition>