<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="description">
        <meta name="description" content="Links and resources for Laser Commando in Brisbane!" />
    </ui:define>

    <ui:define name="keywords">
        <meta name="keywords" content="laser games, laser game links, laser game resources, laser tag games, laser skirmish games, brisbane" />
    </ui:define>

    <ui:define name="windowTitle" >
        Links - Laser Skirmish Fun, Games &amp; Events Brisbane QLD
    </ui:define>

    <ui:define name="center">
        <div class="links-content white-anchor">
            <h2>Links and Resources</h2>
            <p>
                Here you can find links to things that we find interesting and resources, e.g membership forms and invitations
            </p>
            <br/>
            <p>
                <a href="/forms/LaserCommandoMembershipForm.pdf" target="_blank" title="Laser Commando Membership Form">Membership Form</a>
            </p>
            <p>
                <a href="/forms/LC_Birthday_Invitation_to Print_A5_Fin.pdf" target="_blank" title="Laser Commando Birthday Invitation">Birthday Invitation</a>
            </p>
        </div>
    </ui:define>
</ui:composition>