<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="center">
        <h:form id="adminForm">
            <h:panelGrid columns="1" id="adminMenu" styleClass="admin-form">
                <h:outputText value="Event admin"/>
                <h:commandLink action="#{manageEventBean.loadAlternateEventIdList}" value="Event report"/>
                <h:commandLink action="#{manageEventBean.newEvent}" value="Add event"/>
                <h:commandLink action="#{manageEventBean.loadEditEventList}" value="Edit event"/>
<!--                <h:commandLink action="#{manageEventBean.specialFunctionality}" value="Update map descriptions"/>-->
                <h:outputText value="&#160;"/>       

                <h:outputText value="Gallery admin"/>
                <h:outputLink value="/admin/gallery/managegallery.jsf">Manage Gallery</h:outputLink>
                <h:outputText value="&#160;"/>       

                <h:outputText value="Location admin"/>
                <h:outputLink value="/admin/map/managemap.jsf">Add location</h:outputLink>
                <h:outputLink value="/admin/map/maplist.jsf">Edit location</h:outputLink>
                <h:outputText value="&#160;"/>

                
                <h:outputText value="Achievement admin"/>
                <h:commandLink action="#{manageAchievementBean.newAchievement}" value="Create achievement code"/>
            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>