<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/memberLayout.xhtml">

    <ui:define name="windowTitle" >
        Laser Commando Top secret
    </ui:define>

    <ui:define name="membercenter">
        <table>
            <ui:repeat value="#{facebookBean.currentPlayer.player.achievementList}" var="achievement" varStatus="status">
                <h:panelGroup rendered="#{status.index mod 8 eq 0}">
                    <tr></tr>
                </h:panelGroup>
                <td>
                    <h:panelGrid columns="1" style="height: 100%">
                        <h:outputText value="#{achievement.name}"/>
                        <p:graphicImage value="#{achievement.url}" width="85px" height="85px" alt="#{achievement.name}"/>
                        <p:rating value="#{achievement.numberDone}" stars="#{achievement.numberRequired}" readonly="true"/>
                    </h:panelGrid>
                </td>
            </ui:repeat>
        </table>
    </ui:define>

</ui:composition>