<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/memberLayout.xhtml">

    <ui:define name="windowTitle" >
        Laser Commando Top secret
    </ui:define>

    <ui:define name="membercenter">
        clan history
    </ui:define>

</ui:composition>