<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/memberLayout.xhtml">

    <ui:define name="windowTitle" >
        Laser Commando Top secret
    </ui:define>

    <ui:define name="membercenter">
        <h:panelGrid columns="2" styleClass="create-game-data-table">
            
            <h:outputText value="Firstname"/>
            <h:outputText value="#{facebookBean.currentPlayer.player.name}"/>

            <h:outputText value="Surname"/>
            <h:outputText value="#{facebookBean.currentPlayer.player.surname}"/>

            <h:outputText value="E-mail"/>
            <h:inputText value="#{facebookBean.currentPlayer.player.email}" styleClass="text-box-200"/>

            <h:outputText value="Receive correspondence"/>
            <p:selectBooleanCheckbox value="#{facebookBean.currentPlayer.player.receiveCorrespondence}" />
            
            <h:outputText value="Telephone number"/>
            <h:inputText value="#{facebookBean.currentPlayer.player.telephone}" styleClass="text-box-100" maxlength="15"/>
            
            <h:outputText value="Age"/>
            <h:inputText value="#{facebookBean.currentPlayer.player.age}" styleClass="text-box-25" maxlength="2"/>

            <h:outputText value="Avatar URL"/>
            <h:inputText value="#{facebookBean.currentPlayer.player.avatar}" styleClass="text-box-450" maxlength="500"/>

            <h:outputText value="Call sign"/>
            <h:inputText value="#{facebookBean.currentPlayer.player.callSign}" styleClass="text-box-150" maxlength="35"/>
            
            <p:commandButton value="Update" action="#{facebookBean.update}"/>
            
        </h:panelGrid>
    </ui:define>

</ui:composition>