<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/memberLayout.xhtml">

    <ui:define name="windowTitle" >
        Laser Commando Top secret
    </ui:define>

    <ui:define name="membercenter">
        <h:panelGrid columns="3">
            <h:panelGrid columns="1">
                <h:panelGroup>
                    <h2>
                        <h:outputText value="Current rank:"/>
                    </h2>
                </h:panelGroup>
                <p:graphicImage value="#{facebookBean.currentPlayer.currentRankImageUrl}" />
            </h:panelGrid>
            <h:panelGrid columns="1">
                <h:outputText value="Progress"/>
                <p:progressBar style="width: 430px" labelTemplate="{value}%" widgetVar="rankProgressBarWidgetVar" displayOnly="true"
                               value="#{facebookBean.currentPlayer.calculatedRankProgress}"/>
            </h:panelGrid>
            <h:panelGrid columns="1">
                <h:panelGroup>
                    <h2>
                        <h:outputText value="Next rank:"/>
                    </h2>
                </h:panelGroup>
                <p:graphicImage value="#{facebookBean.currentPlayer.nextRankImageUrl}" />
            </h:panelGrid>
        </h:panelGrid>

    </ui:define>

</ui:composition>