<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/memberLayout.xhtml">

    <ui:define name="windowTitle" >
        Laser Commando Top secret
    </ui:define>

    <ui:define name="membercenter">
        <h:panelGrid columns="2">
            <h:outputText value="Achievement code"/>
            <h:inputText value="#{codeRegistrationBean.achievementCode}"/>
            <h:panelGroup>
                <p:commandButton value="Back" action="registerCodes.jsf?faces-redirect=true" immediate="true"/>
                <p:commandButton value="Register" action="#{codeRegistrationBean.registerAchievementCode}"/>
            </h:panelGroup>
        </h:panelGrid>

    </ui:define>

</ui:composition>