<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/memberLayout.xhtml">

    <ui:define name="windowTitle" >
        Laser Commando Top secret
    </ui:define>

    <ui:define name="membercenter">
        <h:panelGrid columns="4" styleClass="claimTable">
            <p:commandButton value="ACHIEVEMENT CODE" action="registerAchievementCode.jsf?faces-redirect=true" styleClass="claim-button"/>
            <h:outputText value="&#160;"/>
            <p:commandButton value="GAME CODE" action="registerGameCode.jsf?faces-redirect=true" styleClass="claim-button"/>
        </h:panelGrid>

    </ui:define>

</ui:composition>