<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="center">
        <h:form id="addEventForm">
            <h:panelGrid columns="1">
                <h:outputText value="ACHIEVEMENT CODE" styleClass="text-box-30"/>
                <h:outputText value="#{manageAchievementBean.selectedGenAchievement.alternateId}" styleClass="alternate-id-code"/>

            </h:panelGrid>

            <p:commandButton value="Back" action="createachievement.jsf?faces-redirect=true" immediate="true"/>

        </h:form>
    </ui:define>
</ui:composition>