<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="center">
        <h:form id="addEventForm">
            <h:panelGrid columns="1">
                <h:panelGroup>
                    <h:outputText value="All fields are mandatory "/>
                </h:panelGroup>
            </h:panelGrid>

            <h:panelGrid columns="2" styleClass="create-game-data-table">
                <h:panelGroup>
                    <h:outputText value="Achievement"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <p:selectOneMenu value="#{manageAchievementBean.selectedAchievement}"
                                 styleClass="text-box-450" converter="achievementTypeConverter"
                                 var="a">
                    <f:selectItems value="#{manageAchievementBean.achievementList}" var="achievementLocal"
                                   itemValue="#{achievementLocal}" itemLabel="#{achievementLocal.description}" />
                    <p:column>
                        <p:graphicImage value="#{a.url}" width="40" height="50"/>  
                    </p:column>
                    
                    <p:column>
                        #{a.name} - #{a.description}
                    </p:column>
                </p:selectOneMenu>

                <h:outputText value="Total available"/>
                <p:inputText value="#{manageAchievementBean.totalAvailable}" required="true"
                             style="#{component.valid ? '' : 'border: solid 1px red;'}"
                             requiredMessage="Please enter total number of achievements available" maxlength="3"/>
            </h:panelGrid>

            <p:commandButton value="Back" action="../index.jsf?faces-redirect=true" immediate="true"/>
            <p:commandButton value="Generate" action="#{manageAchievementBean.generate}"/>

        </h:form>
    </ui:define>
</ui:composition>