<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="center">
        We are very sorry for this unexpected error.  Please contact Laser Commando with the details on how to reproduce this error.
    </ui:define>
</ui:composition>