<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="windowTitle" >
        Laser Commando YouTube Return Error
    </ui:define>

    <ui:define name="center">
        We are very sorry for this error.  It seems something went wrong returning from YouTube.  Please contact Laser Commando with the details on how to reproduce this error.
    </ui:define>
</ui:composition>