<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="windowTitle" >
        Help - Laser Skirmish Fun, Games &amp; Events Brisbane QLD
    </ui:define>

    <ui:define name="center">
        <div class="help-video-wrapper">
            <iframe class="youtube-player" type="text/html"
                    width="600" height="500"
                    src="http://www.youtube.com/embed/juiDOXVgoJo" frameborder="0"/>
        </div>
        <div class="help-video-text">
            <h:panelGrid columns="1">
                <h:panelGroup>
                    <h2>
                        <h:outputText value="This video shows how easy it is to book online with Laser Commando"/>
                    </h2>
                </h:panelGroup>
                <h:outputText value="1. Click on Join Game"/>
                <h:outputText value="2. Select the date you want to play on and click Join"/>
                <h:outputText value="3. Enter contact details"/>
                <h:outputText value="4. Confirm location"/>
                <h:outputText value="5. Select number of players"/>
                <h:outputText value="6. Select extras"/>
                <h:outputText value="7. Pay with PayPal"/>
            </h:panelGrid>           
        </div>
        
    </ui:define>
</ui:composition>