<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="description">
        <meta name="description" content="Laser Commando offers the best laser skirmish prices in Brisbane - book a laser skirmish party with us! Give your child a laser tag party that is affordable and fun!  Laser tag prices start at $25 per two hour session" />
    </ui:define>

    <ui:define name="keywords">
        <meta name="keywords" content="laser skirmish prices, laser skirmish party, laser tag party, laser tag prices, laser skirmish, brisbane" />
    </ui:define>

    <ui:define name="windowTitle" >
        Prices - Laser Skirmish Fun, Games &amp; Events Brisbane QLD
    </ui:define>

    <ui:define name="center">
        <div class="prices-content white-anchor">

            <h2>Laser skirmish prices</h2>
            <p>
                Laser skirmish prices and packages below include a 2 hour laser skirmish session. One session can
                be divided into four games of 15 minutes each or a different combination of games equalling 1 hour
                of gameplay and includes time for breaks, gearing up and briefing.
            </p>
            <br/>
            <p>
                <h2>$25 per person</h2>
                Price includes: Hat hire, phaser hire and 3-4 gaming missions.
                <div class="white-anchor">
                    <h:form>
                        Use our
                        <p:commandLink action="#{eventSelectionBean.startQuoteProcess()}" ajax="false">
                            <h:outputText value="QUICK QUOTE"/>
                        </p:commandLink>
                        function to calculate the cost of your event
                    </h:form>
                </div>
            </p>
            <br/>
            <p>
                <h:panelGrid columns="1">
                    <h2>Discounts</h2>
                    <h:outputText value="#{pricesBean.discount10Players}% discount – 10 to 19 players"/>
                    <h:outputText value="#{pricesBean.discount20Players}% discount – 20 and more players"/>
                    <h:outputText value="*Discount applicable on payment not booking"/>
                    <h:outputText value="** Visit our online shop"/>
                </h:panelGrid>
            </p>
            <br/>
            <p>
                Disposable camo coveralls are recommended and can be bought at $5 each. These are great for protection and
                hiding. Discounts do not apply to camo coveralls.
            </p>
            <br/>
            <p>
                <h2>Book a table</h2>
                Seating is available but it is limited. Book a table today to ensure your party gets seats.
            </p>
            <br/>
            <p>
                <h2>Packages</h2>
                Please have a look at our online store for the different packages available.  We can also create a package just for you.
            </p>
            <br/>
            <p>
                <h2>Payment</h2>
                We accept credit card payments, bank transfers and more via PayPal. The payment option appears
                at the end of the booking process. Start the booking process by clicking on the <a href="/bookgame/existinggame/index.jsf" title="Laser Commando join an existing game">Join Game</a>
                or <a href="/bookgame/newgame/index.jsf" title="Laser Commando create a new game">Create Game</a> buttons. Should you require assistance please call us on 0468 488 TAG (824) or email
                <a href="mailto:rogue@lasercommando.com.au" target="_blank" title="Laser Commando contact">rogue@lasercommando.com.au</a> - we are happy to help.
            </p>
        </div>

        <!--            <h:outputText styleClass="price-heading" value="Price per person (before discount): $25"/>
                    <h:outputText styleClass="price-text-large" value="The price includes hat hire and a 2 hour session"/>
                    <h:outputText value="&#160;"/>
                    <h:outputText styleClass="price-text-medium" value="Please note:  All sessions are at least 2 hours.  The 2 hour session includes a briefing, 4 x 15 minute games or different combinations of games that equal 60 minutes of game time and rest between games.  Please arrive 30 minutes before the sessions starts to register."/>
                    <h:outputText value="&#160;"/>

                    <h:outputText value="&#160;"/>
                    <h:outputText value="Discount of up to 20%" styleClass="price-heading"/>
                    <h:panelGroup>
                        <h:outputText styleClass="price-text-medium" value="Pay for between 10 and 19 players and your discount is: "/>
                        <h:outputText styleClass="price-text-medium" value="#{pricesBean.discount10Players}%"/>
                    </h:panelGroup>
                    <h:panelGroup>
                        <h:outputText styleClass="price-text-medium" value="Pay for between 20 and 29 players and your discount is: "/>
                        <h:outputText styleClass="price-text-medium" value="#{pricesBean.discount20Players}%"/>
                    </h:panelGroup>
                    <h:panelGroup>
                        <h:outputText styleClass="price-text-medium" value="Pay for between 30 and 39 players and your discount is: "/>
                        <h:outputText styleClass="price-text-medium" value="#{pricesBean.discount30Players}%"/>
                    </h:panelGroup>
                    <h:panelGroup>
                        <h:outputText styleClass="price-text-medium" value="Pay for more than 40 players and your discount is: "/>
                        <h:outputText styleClass="price-text-medium" value="#{pricesBean.discount40Players}%"/>
                    </h:panelGroup>-->


    </ui:define>
</ui:composition>