<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:map="http://java.sun.com/jsf/composite/components/map"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/templates/eventBookingLayout.xhtml">

    <ui:define name="windowTitle" >
        Laser Commando - Laser Skirmish - Contact entry
    </ui:define>

    <ui:define name="center">
        <h:form id="pickOrPayForm">
            <h:panelGrid columns="1">
                <h:panelGroup>
                    <h:outputText value="Fields marked with "/>
                    <h:outputText styleClass="required-field" value="*"/>
                    <h:outputText value=" are required "/>
                </h:panelGroup>
            </h:panelGrid>

            <h:panelGrid columns="4" styleClass="ninety-percent-table">
                <h:outputText value="Contact details" styleClass="book-heading"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

                <h:panelGroup>
                    <h:outputText value="Group name"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <h:inputText value="#{eventSelectionBean.contact.groupName}" required="true"
                             style="#{component.valid ? '' : 'border: solid 1px red;'}"
                             requiredMessage="Please enter a group name"
                             maxlength="20"/>
                
                <h:panelGroup>                    
                    <h:outputText value="Average age of the group"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <p:selectOneMenu value="#{eventSelectionBean.contact.averageAgeGroup}">
                    <f:selectItems value="#{eventSelectionBean.averageAgeList}" var="averageAgeLocal"
                                   itemValue="#{averageAgeLocal.code}" itemLabel="#{averageAgeLocal.description}" />
                </p:selectOneMenu>

                <h:panelGroup>
                    <h:outputText value="Firstname"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <h:inputText value="#{eventSelectionBean.contact.firstname}" required="true"
                             style="#{component.valid ? '' : 'border: solid 1px red;'}"
                             requiredMessage="Please enter a contact name"
                             maxlength="20"/>

                <h:panelGroup>
                    <h:outputText value="Surname"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <h:inputText value="#{eventSelectionBean.contact.surname}" required="true"
                             style="#{component.valid ? '' : 'border: solid 1px red;'}"
                             requiredMessage="Please enter a contact surname"
                             maxlength="20"/>

                <h:panelGroup>
                    <h:outputText value="Telephone"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <h:inputText value="#{eventSelectionBean.contact.telephoneNumber}" required="true"
                             style="#{component.valid ? '' : 'border: solid 1px red;'}"
                             requiredMessage="Please enter a contact telephone number"
                             maxlength="20"/>

                <h:panelGroup>
                    <h:outputText value="E-mail"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <h:inputText value="#{eventSelectionBean.contact.email}" required="true"
                             style="#{component.valid ? '' : 'border: solid 1px red;'}"
                             requiredMessage="Please enter a contact e-mail address"
                             styleClass="text-box-200"
                             maxlength="40"/>

                <h:outputText value="How did you find us?"/>
                <h:inputText value="#{eventSelectionBean.contact.howDidYouFindUs}"
                             styleClass="text-box-200" maxlength="40"/>

                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

                <h:panelGroup>
                    <p:commandButton value="Back" action="index.jsf?faces-redirect=true" immediate="true"/>
                    <p:commandButton value="Next" action="location.jsf?faces-redirect=true"/>
                </h:panelGroup>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

            </h:panelGrid>
        </h:form>
    </ui:define>

</ui:composition>