<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:map="http://java.sun.com/jsf/composite/components/map"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/templates/eventBookingLayout.xhtml">

    <ui:define name="windowTitle" >
        Laser Commando - Laser Skirmish - Game details entry
    </ui:define>

    <ui:define name="center">
        <h:form id="pickOrPayForm">
            <h:panelGrid columns="1">
                <h:panelGroup>
                    <h:outputText value="Fields marked with "/>
                    <h:outputText styleClass="required-field" value="*"/>
                    <h:outputText value=" are required "/>
                </h:panelGroup>
            </h:panelGrid>

            <h:panelGrid columns="4" styleClass="ninety-percent-table">
                <h:outputText value="Game details" styleClass="book-heading"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

                <h:outputText value="Game name"/>
                <h:outputText value="#{eventSelectionBean.selectedEvent.event.name}"/>

                <h:outputText value="Private game"/>
                <h:outputText value="#{eventSelectionBean.selectedEvent.event.privateEvent ? 'Yes' : 'No'}"/>

                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

                <h:outputText value="Price per player (before discount)"/>
                <h:outputText value="#{eventSelectionBean.selectedEvent.event.pricePerPlayer}">
                    <f:convertNumber type="currency" />
                </h:outputText>

                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

                <h:outputText value="Maximum players"/>
                <h:outputText value="#{eventSelectionBean.selectedEvent.event.maxPlayerCount - eventSelectionBean.selectedEvent.event.playersJoined}"/>

                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

                <h:panelGroup>
                    <h:outputText value="Number of players joining"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <h:panelGroup>
                    <p:spinner id="playersJoinedSpinner" min="1" max="#{eventSelectionBean.selectedEvent.event.maxPlayerCount - eventSelectionBean.selectedEvent.event.playersJoined}"
                               value="#{eventSelectionBean.joiningMorePlayersToEvent}" size="3">
                        <p:ajax listener="#{eventSelectionBean.calculateCost}" update="totalPlayerCost discount"/>
                    </p:spinner>
                </h:panelGroup>

                <h:panelGroup>
                    <h:outputText value="Total player cost  "/>
                    <h:outputText id="totalPlayerCost" value="#{eventSelectionBean.totalPlayerCost}">
                        <f:convertNumber type="currency" />
                    </h:outputText>
                </h:panelGroup>

                <h:panelGroup>
                    <h:outputText value="Discount  "/>
                    <h:outputText id="discount" value="#{eventSelectionBean.discount}">
                        <f:convertNumber type="currency" />
                    </h:outputText>
                </h:panelGroup>

                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>                

                <h:panelGroup>
                    <p:commandButton value="Back" action="location.jsf?faces-redirect=true" immediate="true"/>
                    <p:commandButton value="Next" action="#{eventSelectionBean.showExtras}"/>
                </h:panelGroup>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

            </h:panelGrid>

        </h:form>
    </ui:define>

</ui:composition>