<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:map="http://java.sun.com/jsf/composite/components/map"
                xmlns:booking="http://java.sun.com/jsf/composite/components/booking"
                template="/templates/eventBookingLayout.xhtml">

    <ui:define name="windowTitle" >
        Join - Laser Skirmish Fun, Games &amp; Events Brisbane QLD
    </ui:define>

    <ui:define name="center">
        <h:form id="eventListForm">
            <f:event type="preRenderComponent" listener="#{eventSelectionBean.selectExistingGame()}"/>
            <h:panelGrid columns="1" styleClass="create-game-data-table" id="eventListPanelGrid">
                <h:panelGroup>
                    <div class="booking-message">
                        Please contact us to create an event for you if you can't find dates or session times that suit you.
                    </div>
                    <div class="booking-tutorial white-anchor">
                        <a href="/help/index.jsf" target="_blank">View Tutorial</a>
                    </div>
                </h:panelGroup>
                
                <booking:bookingList eventList="#{eventSelectionBean.existingEventsList}" id="bookingListComponent"/>
            </h:panelGrid>
        </h:form>
    </ui:define>

</ui:composition>