<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:map="http://java.sun.com/jsf/composite/components/map"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/templates/eventBookingLayout.xhtml">

    <ui:define name="windowTitle" >
        Laser Commando - Laser skirmish - Location entry
    </ui:define>

    <ui:define name="center">
        <h:form id="pickOrPayForm">
            <h:panelGrid columns="2" styleClass="ninety-percent-table white-anchor">
                <h:outputText value="Location details" styleClass="book-heading"/>
                <h:outputText value="&#160;"/>
                
                <h:outputText value="Location Name"/>
                <p:commandLink value="#{eventSelectionBean.selectedEvent.event.map.name}"
                               action="#{eventSelectionBean.setSelectedMap(eventSelectionBean.selectedEvent.event.map)}"
                               oncomplete="mapZoomDialogWidgetVar.show()"
                               update=":mapZoomDialogForm:mapZoomDialog"/>

                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

                <h:outputText value="Address line 1"/>
                <h:outputText id="addressLine1" value="#{eventSelectionBean.selectedEvent.event.map.address1}"/>

                <h:outputText value="Address line 2"/>
                <h:outputText id="addressLine2" value="#{eventSelectionBean.selectedEvent.event.map.address2}"/>

                <h:outputText value="City/Town"/>
                <h:outputText id="city" value="#{eventSelectionBean.selectedEvent.event.map.city}"/>

                <h:outputText value="State"/>
                <h:outputText id="state" value="#{eventSelectionBean.selectedEvent.event.map.state}"/>

                <h:outputText value="Postal code"/>
                <h:outputText id="postalCode" value="#{eventSelectionBean.selectedEvent.event.map.postalCode}"/>

                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

                <h:outputText value="Location Notes/Directions"/>
                <h:inputTextarea id="mapDescription" cols="40" rows="8"
                                 value="#{eventSelectionBean.selectedEvent.event.map.description}"
                                 readonly="true"/>

                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:panelGroup>
                    <p:commandButton value="Back" action="contact.jsf?faces-redirect=true" immediate="true"/>
                    <p:commandButton value="Next" action="game.jsf?faces-redirect=true"/>
                </h:panelGroup>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

            </h:panelGrid>

        </h:form>
    </ui:define>

</ui:composition>