<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:map="http://java.sun.com/jsf/composite/components/map"
                xmlns:booking="http://java.sun.com/jsf/composite/components/booking"
                template="/templates/eventBookingLayout.xhtml">
    
    <ui:define name="windowTitle" >
        Join - Laser Skirmish Fun, Games &amp; Events Brisbane QLD
    </ui:define>
    
    <ui:define name="center">
        <h:form id="eventListForm">
            <f:event type="preRenderComponent" listener="#{eventSelectionBean.selectExistingGame()}"/>
            
            <h:panelGrid columns="1" styleClass="create-game-data-table" id="eventListPanelGrid">                
                <h2>
                OPENING SPECIAL!!! We are offering a whopping 52% off of the normal price of $25 for a 2 hour laser skirmish session - NOW ONLY $12 per player PLUS group discounts still apply! PLEASE NOTE: This offer only applies to sessions on 22 September 2012. Bookings outside of this date are still priced at $25.
                </h2>
                <h:outputText value="&#160;"/>
                Please contact us if you have any problems booking an event.
                <h:outputText value="&#160;"/>
                <booking:bookingList eventList="#{eventSelectionBean.existingEventsList}" id="bookingListComponent"
                                     rows="1" paginator="false"/>
            </h:panelGrid>
        </h:form>
    </ui:define>

<!--    <ui:define name="center">
        <h:form id="eventListForm">
            <f:event type="preRenderComponent" listener="#{eventSelectionBean.selectExistingGame()}"/>
            <h:panelGrid columns="1" styleClass="create-game-data-table" id="eventListPanelGrid">                
                <h2>
                OPENING SPECIAL!!! We are offering a whopping 20% off of the normal price of $25 for a 2 hour laser skirmish session - NOW ONLY $20 per player PLUS group discounts still apply! PLEASE NOTE: This offer only applies to sessions on 22 September 2012. Bookings outside of this date are still priced at $25.
                </h2>
                <h:outputText value="&#160;"/>
                Please contact us if you have any problems booking an event.
                <h:outputText value="&#160;"/>
                <booking:bookingList eventList="#{eventSelectionBean.existingEventsList}" id="bookingListComponent"
                                     rows="2" paginator="false"/>
            </h:panelGrid>
        </h:form>
    </ui:define>-->
    
</ui:composition>