<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="windowTitle" >
        Contact Us - Laser Skirmish Fun, Games &amp; Events Brisbane QLD
    </ui:define>

    <ui:define name="description">
        <meta name="description" content="Contact Laser Commando to book your spot in one of our laser tag games in Brisbane. We are a mobile laser skirmish games provider - email Rogue via rogue@lasercommando.com.au - your laser tag contact. Book laser tag sessions in Brisbane online!" />
    </ui:define>

    <ui:define name="keywords">
        <meta name="keywords" content="laser skirmish games, contact laser skirmish, laser tag contact, book laser tag, brisbane" />
    </ui:define>

    <ui:define name="center">
        <div class="contact-us-content white-anchor">
            <p>
                We can be reached telephonically or via email.
            </p>
            <br/>
            <p>
                Contact number: 0468 488 TAG (824)
            </p>
            <br/>
            <p>
                email us:
                <p>
                    <a href="mailto:rogue+lasercommandoweb@lasercommando.com.au" target="_blank" alt="Mail Rogue at Laser Commando (rogue@lasercommando.com.au)">rogue@lasercommando.com.au</a>
                </p>
                <p>
                    <a href="mailto:taskman+lasercommandoweb@lasercommando.com.au" target="_blank" alt="Mail Taskman at Laser Commando (taskman@lasercommando.com.au)">taskman@lasercommando.com.au</a>
                </p>
            </p>
            <br/>
            <p>
                Facebook us:
                <p>
                    <a href="http://www.facebook.com/pages/Laser-Commando/345984762150007" target="_blank" alt="Laser Commando Facebook page">Laser Command Facebook page</a>
                </p>
            </p>
        </div>
    </ui:define>
</ui:composition>