<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/masterLayout.xhtml">

    <ui:define name="footer">
        Players must wear covered shoes. All players must either wear long pants covering their ankles or wear a coverall supplied by us.  We suggest players wear long sleeve shirts.
    </ui:define>
</ui:composition>