<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:player="http://java.sun.com/jsf/composite/components/player"
                template="/templates/masterLayout.xhtml">

    <ui:define name="robotshead">
        <meta name="robots" content="noindex, nofollow"/>
    </ui:define>
    
    <ui:define name="center">
        <h:form styleClass="member-form" id="memberForm">
            <h:panelGrid columns="2" styleClass="create-game-data-table" id="memberTable">
                <h:panelGrid columns="1">
                    <player:miniProfile displayName="true"/>
                    
                    <h:outputLink value="profile.jsf">Profile</h:outputLink>
                    <!--<h:outputLink value="achievements.jsf">Achievements</h:outputLink>-->
                    <p:commandLink action="#{facebookBean.reloadPlayer()}" ajax="false" immediate="true">Rank</p:commandLink>
                    <h:outputLink value="registerCodes.jsf">Register codes</h:outputLink>
                </h:panelGrid>
                <h:panelGrid columns="1" style="width: 750px">
                    <ui:insert name="membercenter"/>
                </h:panelGrid>
            </h:panelGrid>
        </h:form>
    </ui:define>

</ui:composition>