<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/masterLayout.xhtml">

    <ui:define name="east">
        <ui:insert name="eastTop" >
<!--            <p:carousel circular="true" effectDuration="#{webConstantsBean.effectDuration}"
                        autoPlayInterval="#{webConstantsBean.autoPlayInterval}"
                        value="#{homeBean.advertList}" var="advert"
                        rows="1" pageLinks="0" >
                <p:graphicImage value="#{advert.imageName}" width="325" height="235"/>
            </p:carousel>-->
        </ui:insert>

        <ui:insert name="eastBottom">
<!--            <p:carousel circular="true" effectDuration="#{webConstantsBean.effectDuration}"
                        autoPlayInterval="#{webConstantsBean.autoPlayInterval}"
                        value="#{homeBean.advertList}" var="advert"
                        rows="1" pageLinks="0" >
                <p:graphicImage value="#{advert.imageName}" width="325" height="235"/>
            </p:carousel>-->
        </ui:insert>
    </ui:define>

    <ui:define name="center">
        <h:form>
<!--            <p:commandButton value="Test mail" action="#{homeBean.sendNewBookingMail}"/>
            <p:carousel itemStyleClass="carItem" pageLinks="4" autoPlayInterval="#{webConstantsBean.autoPlayInterval}"   
                    rows="1" effect="easeInStrong" circular="true">  
                <p:graphicImage value="https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/homeadverts/02052011215.jpg" width="660" height="460"/>
                <p:graphicImage value="https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/homeadverts/02052011215.jpg" width="660" height="460"/>
                <p:graphicImage value="https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/homeadverts/02052011215.jpg" width="660" height="460"/>
                <p:graphicImage value="https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/homeadverts/02052011215.jpg" width="660" height="460"/>
            </p:carousel>  -->
        </h:form>
    </ui:define>

</ui:composition>