<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="robotshead">
        <meta name="robots" content="noindex, nofollow"/>
    </ui:define>
    
    <ui:define name="windowTitle" >
        Laser Commando PayPal success response - Outdoor laser skirmish events
    </ui:define>

    <ui:define name="center">
        <h:panelGrid columns="1">
            <h2>Thank you very much for your support</h2>
            <h:outputText value="We will send your items as soon as possible"/>
        </h:panelGrid>
    </ui:define>
</ui:composition>