<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="windowTitle" >
        News - Laser Skirmish Fun, Games &amp; Events Brisbane QLD
    </ui:define>

    <ui:define name="center">
        <h:panelGrid columns="1">
            <h:outputText value="20/07/2012 - Toys arrived today"/>
            <h:outputText value="We have 4 different kinds of toys from the Battle Commander series"/>

            <h:outputText value="&#160;"/>
            
            <h:outputText value="18/07/2012 - Guns arrived today"/>
            <h:outputText value="47 guns from Battlefield Sports with the newest SATAR technology"/>
            <h:outputText value="20 Cobra's"/>
            <h:outputText value="10 Commando carbine's"/>
            <h:outputText value="10 Scorpion's"/>
            <h:outputText value="5 Morita sniper rifles"/>
            <h:outputText value="2 Saber's"/>
        </h:panelGrid>
    </ui:define>
</ui:composition>