<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <composite:interface>
        <composite:attribute name="displayName" required="false" default="false" />
    </composite:interface>

    <composite:implementation>
        <h:panelGrid columns="2">
            <h:panelGrid columns="1">
                <p:graphicImage value="#{facebookBean.currentPlayer.player.avatar}" width="100px" height="100px"/>
            </h:panelGrid>
            <h:panelGrid columns="1">
                <h:outputText value="#{facebookBean.currentPlayer.player.callSign}"/>
                <h:outputText value="#{facebookBean.currentPlayer.player.name} #{facebookBean.currentPlayer.player.surname}"
                              rendered="#{cc.attrs.displayName}"/>
            </h:panelGrid>
        </h:panelGrid>
    </composite:implementation>
</html>