<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:map="http://java.sun.com/jsf/composite/components/map"
                xmlns:booking="http://java.sun.com/jsf/composite/components/booking"
                template="/templates/sixBoxLayout.xhtml">
    
    <ui:define name="center">
        <h:panelGrid columns="1" class="eighty-percent-table">
            <h:outputText value="Thank you for booking an event with Laser Commando"/>
            <h:outputText value="It seems an error occured returning from PayPal.  Please contact Laser Commando to book an event"/>
        </h:panelGrid>
        
    </ui:define>

</ui:composition>