<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:map="http://java.sun.com/jsf/composite/components/map"
                xmlns:booking="http://java.sun.com/jsf/composite/components/booking"
                template="/templates/sixBoxLayout.xhtml">
    
    <ui:define name="center">
        <h:panelGrid columns="1" class="create-game-data-table">
            <h:panelGroup styleClass="white-anchor">
                <h:outputText value="Thank you for booking a game with Laser Commando.  "/>
                <h:outputText value="Please check your e-mail for a booking confirmation, invitation letter and a "/>
                <a href="/forms/LaserCommandoMembershipForm.pdf">membership form</a>
            </h:panelGroup>
            <h:outputText value="Event summary"/>
            <h:panelGrid columns="4" class="create-game-data-table">

                <h:outputText styleClass="book-heading" value="Game"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

                <h:outputText value="Game name"/>
                <h:outputText value="#{eventSelectionBean.selectedEvent.event.name}"/>

                <h:outputText value="Private game"/>
                <h:outputText value="#{eventSelectionBean.selectedEvent.event.privateEvent}"/>

                <h:outputText value="Date"/>
                <h:outputText value="#{eventSelectionBean.selectedEvent.event.date}">
                    <f:convertDateTime pattern="#{webConstantsBean.dateFormat}"/>
                </h:outputText>

                <h:outputText value="Time"/>
                <h:outputText value="#{eventSelectionBean.selectedEvent.event.sessionDescription}"/>

                <h:outputText value="Players paid for"/>
                <h:outputText value="#{eventSelectionBean.selectedPayment.paidForPlayers}"/>

                <h:outputText value="Total cost"/>
                <h:outputText value="#{eventSelectionBean.selectedPayment.totalCost}">
                    <f:convertNumber type="currency" />
                </h:outputText>
                
                <h:outputText value="Discount received"/>
                <h:outputText value="#{eventSelectionBean.selectedPayment.discountAmount}">
                    <f:convertNumber type="currency" />
                </h:outputText>

                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

                <h:outputText styleClass="book-heading" value="Contact"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

                <h:outputText value="Group name"/>
                <h:outputText value="#{eventSelectionBean.selectedPayment.contact.groupName}"/>

                <h:outputText value="Average age of the group"/>
                <h:outputText value="#{eventSelectionBean.selectedPayment.contact.averageAgeGroupDescription}"/>

                <h:outputText value="Firstname"/>
                <h:outputText value="#{eventSelectionBean.selectedPayment.contact.firstname}"/>

                <h:outputText value="Surname"/>
                <h:outputText value="#{eventSelectionBean.selectedPayment.contact.surname}"/>

                <h:outputText value="Telephone number"/>
                <h:outputText value="#{eventSelectionBean.selectedPayment.contact.telephoneNumber}"/>

                <h:outputText value="E-mail"/>
                <h:outputText value="#{eventSelectionBean.selectedPayment.contact.email}"/>

                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

                <h:outputText styleClass="book-heading" value="Location"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

                <h:outputText value="Location name"/>
                <h:outputText value="#{eventSelectionBean.selectedEvent.event.map.name}"/>

                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

                <h:outputText value="Address 1"/>
                <h:outputText value="#{eventSelectionBean.selectedEvent.event.map.address1}"/>

                <h:outputText value="Address 2"/>
                <h:outputText value="#{eventSelectionBean.selectedEvent.event.map.address2}"/>

                <h:outputText value="City/Town"/>
                <h:outputText value="#{eventSelectionBean.selectedEvent.event.map.city}"/>

                <h:outputText value="State"/>
                <h:outputText value="#{eventSelectionBean.selectedEvent.event.map.state}"/>

                <h:outputText value="Postal code"/>
                <h:outputText value="#{eventSelectionBean.selectedEvent.event.map.postalCode}"/>

                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

            </h:panelGrid>
        </h:panelGrid>


        <!-- Google Code for Booked Conversion Page -->
        <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 1016045146;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "KtyWCP69vQMQ2ry-5AM";
            var google_conversion_value = 500;
            /* ]]> */
        </script>
        <script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
            <div style="display:inline;">
                <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1016045146/?value=0&amp;label=KtyWCP69vQMQ2ry-5AM&amp;guid=ON&amp;script=0"/>
            </div>
        </noscript>
        
    </ui:define>

</ui:composition>