<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="center">
        <h:form>
            <p:dataTable value="#{manageEventBean.allEvents}" var="eventProxy" rows="6"
                         styleClass="create-game-data-table" paginator="true" paginatorPosition="bottom">
                <p:column headerText="Date" filterBy="#{eventProxy.dateFormatted}" filterMatchMode="contains"
                          filterStyle="width: 40px">
                    <h:outputText value="#{eventProxy.dateFormatted}"/>
                </p:column>
                <p:column headerText="Name" filterBy="#{eventProxy.event.name}" filterMatchMode="contains"
                          filterStyle="width: 70px">
                    <h:outputText value="#{eventProxy.event.name}"/>
                </p:column>
                <p:column headerText="Private" filterBy="#{eventProxy.event.privateEvent}" filterMatchMode="contains"
                          filterStyle="width: 70px">
                    <h:outputText value="#{eventProxy.event.privateEvent}"/>
                </p:column>
                <p:column headerText="Session" filterBy="#{eventProxy.sessionDescription}" filterMatchMode="contains"
                          filterStyle="width: 40px">
                    <h:outputText value="#{eventProxy.sessionDescription}"/>
                </p:column>
                <p:column headerText="Status" filterBy="#{eventProxy.statusDescription}" filterMatchMode="contains"
                          filterStyle="width: 40px">
                    <h:outputText value="#{eventProxy.statusDescription}"/>
                </p:column>
                <p:column headerText="Author" filterBy="#{eventProxy.authorDescription}" filterMatchMode="contains"
                          filterStyle="width: 40px">
                    <h:outputText value="#{eventProxy.authorDescription}"/>
                </p:column>
                <p:column headerText="Joined" filterBy="#{eventProxy.event.playersJoined}" filterMatchMode="contains"
                          filterStyle="width: 40px">
                    <h:outputText value="#{eventProxy.event.playersJoined}"/>
                </p:column>
                <p:column headerText="Max" filterBy="#{eventProxy.event.maxPlayerCount}" filterMatchMode="contains"
                          filterStyle="width: 40px">
                    <h:outputText value="#{eventProxy.event.maxPlayerCount}"/>
                </p:column>
                <p:column headerText="Location" filterBy="#{eventProxy.event.map.name}" filterMatchMode="contains"
                          filterStyle="width: 80px">
                    <h:outputText value="#{eventProxy.event.map.name}"/>
                </p:column>
                <p:column>
                    <p:commandButton value="EDIT"
                                    action="#{manageEventBean.edit(eventProxy)}"
                                    immediate="true"/>
                </p:column>
            </p:dataTable>
            <p:commandButton value="Back" action="../index.jsf?faces-redirect=true" immediate="true"/>
        </h:form>
    </ui:define>
</ui:composition>