<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="center">
        <h:form id="addEventForm">
            <h:panelGrid columns="1">
                <h:panelGroup>
                    <h:outputText value="All fields are mandatory "/>
                </h:panelGroup>
            </h:panelGrid>

            <h:panelGrid columns="4">
                <h:panelGroup>
                    <h:outputText value="Event name"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <h:inputText value="#{manageEventBean.selectedEvent.event.name}"
                             maxlength="20"/>

                <h:outputText value="Private event"/>
                <p:selectBooleanCheckbox value="#{manageEventBean.selectedEvent.event.privateEvent}" />

                <h:panelGroup>
                    <h:outputText value="Maximum players"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <h:panelGroup>
                    <p:spinner id="maxPlayers" value="#{manageEventBean.selectedEvent.event.maxPlayerCount}"
                               max="#{webConstantsBean.maxPlayers}" min="#{webConstantsBean.minPlayers}" size="3">
                    </p:spinner>
                </h:panelGroup>

                <h:panelGroup>
                    <h:outputText value="Number of players joined"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <h:panelGroup>
                    <p:spinner id="playersJoinedSpinner" min="1" max="#{webConstantsBean.maxPlayers}"
                               value="#{manageEventBean.selectedEvent.event.playersJoined}" size="3"/>
                </h:panelGroup>

                <h:outputText value="Date"/>
                <p:calendar value="#{manageEventBean.selectedEvent.event.date}"
                            pattern="#{webConstantsBean.dateFormatJustNumber}">
                </p:calendar>

                <h:outputText value="Session"/>
                <p:selectOneMenu value="#{manageEventBean.selectedEvent.event.session}">
                    <f:selectItems value="#{manageEventBean.sessionList}" var="sessionLocal"
                                   itemValue="#{sessionLocal.code}" itemLabel="#{sessionLocal.description}" />
                </p:selectOneMenu>

                <h:outputText value="Status"/>
                <p:selectOneMenu value="#{manageEventBean.selectedEvent.event.status}">
                    <f:selectItems value="#{manageEventBean.eventStatusList}" var="eventStatusLocal"
                                   itemValue="#{eventStatusLocal.code}" itemLabel="#{eventStatusLocal.description}" />
                </p:selectOneMenu>

                <h:outputText value="Author"/>
                <p:selectOneMenu value="#{manageEventBean.selectedEvent.event.author}">
                    <f:selectItems value="#{manageEventBean.authorList}" var="authorLocal"
                                   itemValue="#{authorLocal.code}" itemLabel="#{authorLocal.description}" />
                </p:selectOneMenu>

                <h:outputText value="Map"/>
                <p:selectOneMenu value="#{manageEventBean.selectedEvent.event.map}" converter="mapConverter">
                    <f:selectItem itemValue="#{null}" itemLabel="Please select" />
                    <f:selectItems value="#{manageEventBean.mapList}" var="mapLocal" itemValue="#{mapLocal}" itemLabel="#{mapLocal.name}" />
                </p:selectOneMenu>

                <h:panelGroup>
                    <h:outputText value="Price per player"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <h:inputText value="#{manageEventBean.selectedEvent.event.pricePerPlayer}" required="true"
                             style="#{component.valid ? '' : 'border: solid 1px red;'}"
                             requiredMessage="Please enter price per player"
                             maxlength="6"/>

            </h:panelGrid>

            <h:outputText value="&#160;"/>
            <h:outputText value="Payment list"/>
            <p:dataTable value="#{manageEventBean.selectedEvent.event.paymentList}" var="payment" rows="8"
                         styleClass="create-game-data-table" paginator="true" paginatorPosition="bottom">
                <p:column headerText="Firstname" filterBy="#{payment.contact.firstname}" filterMatchMode="contains"
                          filterStyle="width: 50px">
                    <h:outputText value="#{payment.contact.firstname}"/>
                </p:column>
                <p:column headerText="Surname" filterBy="#{payment.contact.surname}" filterMatchMode="contains"
                          filterStyle="width: 50px">
                    <h:outputText value="#{payment.contact.surname}"/>
                </p:column>
                <p:column headerText="Contact e-mail" filterBy="#{payment.contact.email}" filterMatchMode="contains"
                          filterStyle="width: 70px">
                    <h:outputText value="#{payment.contact.email}"/>
                </p:column>
                <p:column headerText="Contact tel" filterBy="#{payment.contact.telephoneNumber}" filterMatchMode="contains"
                          filterStyle="width: 50px">
                    <h:outputText value="#{payment.contact.telephoneNumber}"/>
                </p:column>
                <p:column headerText="Event creator" filterBy="#{payment.contact.eventCreator}" filterMatchMode="contains"
                          filterStyle="width: 30px" style="width: 20px">
                    <h:outputText value="#{payment.contact.eventCreator}"/>
                </p:column>
                <p:column headerText="Paid for" filterBy="#{payment.paidForPlayers}" filterMatchMode="contains"
                          filterStyle="width: 30px" style="width: 20px">
                    <h:outputText value="#{payment.paidForPlayers}"/>
                </p:column>
                <p:column headerText="Total" filterBy="#{payment.totalCost}" filterMatchMode="contains"
                          filterStyle="width: 30px">
                    <h:outputText value="#{payment.totalCost}"/>
                </p:column>
                <p:column headerText="Discount" filterBy="#{payment.discountAmount}" filterMatchMode="contains"
                          filterStyle="width: 30px">
                    <h:outputText value="#{payment.discountAmount}"/>
                </p:column>
                <p:column headerText="Paid" filterBy="#{payment.paid}" filterMatchMode="contains"
                          filterStyle="width: 30px">
                    <h:outputText value="#{payment.paid}"/>
                </p:column>

            </p:dataTable>

            <p:commandButton value="Back" action="eventlist.jsf?faces-redirect=true" immediate="true" rendered="#{manageEventBean.editEvent}"/>
            <p:commandButton value="Update" action="#{manageEventBean.update}" rendered="#{manageEventBean.editEvent}"/>

            <p:commandButton value="Back" action="../index.jsf?faces-redirect=true" immediate="true"  rendered="#{!manageEventBean.editEvent}"/>
            <p:commandButton value="Add" action="#{manageEventBean.add}" rendered="#{!manageEventBean.editEvent}"/>

        </h:form>
    </ui:define>
</ui:composition>