/* begin Page */
/* Created by Artisteer v3.1.0.48375 */

#art-main
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/Bottom_texture.jpg")
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

.art-postcontent,
.art-postheadericons,
.art-postfootericons,
.art-blockcontent-body,
ul.art-vmenu a
{
    text-align: left;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 14px;
}

.art-postcontent p
{
    margin: 12px 0;
}

.art-postcontent h1, .art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:visited, .art-postcontent h1 a:hover,
.art-postcontent h2, .art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:visited, .art-postcontent h2 a:hover,
.art-postcontent h3, .art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:visited, .art-postcontent h3 a:hover,
.art-postcontent h4, .art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:visited, .art-postcontent h4 a:hover,
.art-postcontent h5, .art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:visited, .art-postcontent h5 a:hover,
.art-postcontent h6, .art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:visited, .art-postcontent h6 a:hover,
.art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover,
.art-vmenublockheader .t, .art-vmenublockheader .t a, .art-vmenublockheader .t a:link, .art-vmenublockheader .t a:visited, .art-vmenublockheader .t a:hover,
.art-logo-name, .art-logo-name a, .art-logo-name a:link, .art-logo-name a:visited, .art-logo-name a:hover,
.art-logo-text, .art-logo-text a, .art-logo-text a:link, .art-logo-text a:visited, .art-logo-text a:hover,
.art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.art-postcontent a
{
    text-decoration: underline;
    color: #FFFFFF;
}

.art-postcontent a:link
{
    text-decoration: underline;
    color: #FFFFFF;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
    text-decoration: none;
    color: #248415;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
    text-decoration: underline;
    color: #A5A932;
}

.art-postcontent h1
{
    color: #248415;
    margin: 10px 0 0;
    font-size: 26px;
}

.art-blockcontent h1
{
    margin: 10px 0 0;
    font-size: 26px;
}

.art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:hover, .art-postcontent h1 a:visited, .art-blockcontent h1 a, .art-blockcontent h1 a:link, .art-blockcontent h1 a:hover, .art-blockcontent h1 a:visited
{
    font-size: 26px;
}

.art-postcontent h2
{
    color: #248415;
    margin: 10px 0 0;
}

.art-blockcontent h2
{
    margin: 10px 0 0;
}

.art-postcontent h3
{
    color: #9FB2C6;
    margin: 10px 0 0;
    font-size: 18px;
}

.art-blockcontent h3
{
    margin: 10px 0 0;
    font-size: 18px;
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited
{
    font-size: 18px;
}

.art-postcontent h4
{
    color: #D2DBE4;
    margin: 10px 0 0;
    font-size: 16px;
}

.art-blockcontent h4
{
    margin: 10px 0 0;
    font-size: 16px;
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited
{
    font-size: 16px;
}

.art-postcontent h5
{
    color: #D2DBE4;
    margin: 10px 0 0;
    font-size: 14px;
}

.art-blockcontent h5
{
    margin: 10px 0 0;
    font-size: 14px;
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited
{
    font-size: 14px;
}

.art-postcontent h6
{
    color: #BFCCD9;
    margin: 10px 0 0;
    font-size: 13px;
}

.art-blockcontent h6
{
    margin: 10px 0 0;
    font-size: 13px;
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited
{
    font-size: 13px;
}

ul
{
    list-style-type: none;
}

ol
{
    list-style-position: inside;
}

html, body
{
    height:100%;
}

#art-main
{
    position: relative;
    z-index: 0;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    cursor:default;
    overflow:hidden;
}

body
{
    padding: 0;
    margin:0;
    min-width: 1024px;
    color: #FFFFFF;
    background-color: #7A7A7A;
    background-image: url('https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/Bottom_texture.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: top left;
}

#art-page-background-middle-texture
{
    position: relative;
    background-repeat: repeat-x;
    background-position: top left;
    background-attachment: fixed;
    width:100%;
    min-width: 1024px;
    /*   min-height:100%;*/
}

.cleared
{
    display:block;
    clear: both;
    float: none;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;
    height:0;
    overflow:hidden;
}

.reset-box
{
    overflow:hidden;
    display:table;
}

form
{
    padding: 0 !important;
    margin: 0 !important;
}

table.position
{
    position: relative;
    width: 100%;
    table-layout: fixed;
}

/* Start Box */
.art-box, .art-box-body {
    margin:0 auto;
    position:relative;
}
.art-box:before, .art-box:after, .art-box-body:before, .art-box-body:after {
    position:absolute;
    top:0;
    bottom:0;
    content:' ';
    background-repeat: no-repeat;
    line-height:0;
}
.art-box:before,.art-box-body:before{
    left:0;
}
.art-box:after,.art-box-body:after{
    right:0;
}
.art-box:before {
    overflow:hidden;
    background-position: bottom left;
    direction: ltr;
    z-index:-3;
}
.art-box:after {
    background-position: bottom right;
    z-index:-3;
}
.art-box-body:before, .art-box-body:after {
    background-repeat:repeat-y;
}
.art-box-body:before {
    background-position: top left;
    z-index:-3;
}
.art-box-body:after {
    background-position: top right;
    z-index:-3;
}

.art-box .art-box:before, .art-box .art-box:after, .art-box-body .art-box-body:before, .art-box-body .art-box-body:after {
    z-index:-2;
}
.art-box .art-box .art-box:before, .art-box .art-box .art-box:after, .art-box-body .art-box-body .art-box-body:before, .art-box-body .art-box-body .art-box-body:after {
    z-index:-1;
}
/* End Box */

/* begin Box, Sheet */
.art-sheet
{
    max-width:1024px;
    margin-top: 0;
    margin-bottom: -3px;
    cursor:auto;
    width: 1024px;
}
.art-sheet-body
{
    min-width:28px;
    min-height:28px;
    padding-top:0;
    padding-bottom:3px;
    width: 1030px;
}
.art-sheet:before, .art-sheet:after
{

    font-size: 0;

}
.art-sheet:after{
    clip:rect(auto, auto, auto, 1007px);
}
.art-sheet:before,.art-sheet-body:before{
    right:17px;
}
.art-sheet-body:after{
    width: 17px;
    top:17px;
    bottom:17px;

}
.art-sheet-body:before{
    top:17px;
    bottom:17px;

}

/* end Box, Sheet */



.map-size-zoom {
    width:600px;height:450px;
}

#mapZoomDialogPanelGroup td {
    vertical-align: top;
}

#shopItemDialogPanelGroup td {
    vertical-align: top;
}

.create-game-data-table {
    width: 100% !important;
}

.eighty-percent-table {
    width: 80% !important;
}

.ninety-percent-table {
    width: 90% !important;
}

.book-game-table {
    width: 70% !important;
}

.text-box-25 {
    width: 25px;
}

.text-box-30 {
    width: 30px;
}

.text-box-100 {
    width: 100px;
}

.text-box-150 {
    width: 100px;
}

.text-box-200 {
    width: 200px;
}

.text-box-350 {
    width: 350px;
}

.text-box-450 {
    width: 450px !important;
}

#Table_01 td {
    vertical-align: top;
}

#armoryTable tr td {
    vertical-align: bottom;
}

.white-anchor a:link {
    color: white;
}

.white-anchor a:visited {
    color: white;
}

.book-game-table tr td a:link {
    color: white;
}

.book-game-table tr td a:visited {
    color: white;
}

.admin-form tr td a:link {
    color: white;
}

.admin-form tr td a:visited {
    color: white;
}

.contact-us a:link {
    color: white;
}

.contact-us a:visited {
    color: white;
}

.home-page-introduction tr td a:visited {
    color: white;
}

.home-page-introduction tr td a:link {
    color: white;
}

.member-form a:link {
    color: white;
}

.member-form a:visited {
    color: white;
}

textarea {
    resize: none;
}

.header-top-box {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll 0px 0 transparent;
    height: 21px;
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 1024px;
    float: left;
}

.header-bottom-box {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll 0px -146px transparent;
    height: 21px;
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 1024px;
    float: left;
}

.create-game-box {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll 0px -21px transparent;
    height: 125px;
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 173px;
    float: left;
}

.create-game-box:hover {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll 0px -850px transparent;
}

.join-game-box {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -172px -21px transparent;
    height: 125px;
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 175px;
    float: left;
}

.join-game-box:hover {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -172px -850px transparent;
}

.logo-box {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -347px -21px transparent;
    height: 125px;
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 311px;
    float: left;
}

.mini-profile-box {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -657px -21px transparent;
    height: 105px;
    left: 0;
    padding-top: 20px;
    position: relative;
    top: 0;
    width: 187px;
    float: left;
}

.user-profile-box {
    z-index: 2;
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -8px -1001px transparent;
    height: 105px;
    left: 687px;
    padding-top: 11px;
    position: absolute;
    top: 21px;
    width: 141px;
    padding-left: 11px;
}

.user-profile-image {
    width: 137px;
    height: 98px;    
}

.login-help-box {
    height: 125px;
    left: 0;
    position: relative;
    top: 0;
    width: 180px;
    float: left;
}

.login-button-box {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -844px -21px transparent;
    height: 63px;
}

.login-button-box:hover {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -844px -850px transparent;
    height: 63px;
}

.top-secret-button-box {
    z-index: 10;
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -321px -1001px transparent;
    height: 50px;
    position: absolute;
    top: 8px;
    width: 140px;
    left: 9px;
}

.top-secret-button-box:hover {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -175px -1001px transparent;
}

.help-button-box {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -844px -84px transparent;
    height: 63px;
}

.help-button-box:hover {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -844px -913px transparent;
    height: 63px;
}

.nav-home-box {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll 0px -167px transparent;
    height: 41px;
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 100px;
    float: left;
}

.nav-home-box:hover {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll 0px -769px transparent;
}

.nav-prices-box {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -94px -167px transparent;
    height: 41px;
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 82px;
    float: left;
}

.nav-prices-box:hover {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -94px -769px transparent;
}

.nav-armory-box {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -176px -167px transparent;
    height: 41px;
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 95px;
    float: left;
}

.nav-armory-box:hover {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -176px -769px transparent;
}

.nav-rankings-box {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -271px -167px transparent;
    height: 41px;
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 112px;
    float: left;
}

.nav-rankings-box:hover {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -271px -769px transparent;
}

.nav-achievements-box {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -379px -167px transparent;
    height: 41px;
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 162px;
    float: left;
}

.nav-achievements-box:hover {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -379px -769px transparent;
}

.nav-shop-box {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -539px -167px transparent;
    height: 41px;
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 67px;
    float: left;
}

.nav-shop-box:hover {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -539px -769px transparent;
}

.nav-faq-box {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -608px -167px transparent;
    height: 41px;
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 51px;
    float: left;
}

.nav-faq-box:hover {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -608px -769px transparent;
}

.nav-gallery-box {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -665px -167px transparent;
    height: 41px;
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 92px;
    float: left;
}

.nav-gallery-box:hover {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -665px -769px transparent;
}

.nav-links-box {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -759px -167px transparent;
    height: 41px;
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 72px;
    float: left;
}

.nav-links-box:hover {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -759px -769px transparent;
}

.nav-contactus-box {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -832px -167px transparent;
    height: 41px;
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 191px;
    float: left;
}

.nav-contactus-box:hover {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll -832px -769px transparent;
}

.nav-underline-box {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll 0px -208px transparent;
    height: 15px;
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 1024px;
    float: left;
}

.center-box {
    background: url("https://s3-ap-southeast-1.amazonaws.com/lasercommandoimages/25082012_Website_Design_Sprite_blackbg_halloween.jpg") no-repeat scroll 0px -218px transparent;
    height: 551px;
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 1024px;
    float: left;
}

.center-wrapper {
    margin: 25px;    
}

.mini-profile-box-form {
    float: left;
}

.facebook-login-button {
    position: relative;
}

.facebook-login-box {
    background: url("/images/navigation/images/top_navigation_inactive_10.jpg") no-repeat scroll transparent;
    width: 140px;
    height: 56px;
}

.paypal-cart-button {
    float: right;
    width: 132px;
}

.nav-top-secret-button {
    text-decoration: none;
    color: #FF4141;
    font-size: 18px;
    text-align: center;
    position: relative;
    top: 12px;
    left: 10px;
}

.claim-button {
    width: 200px;
    height: 200px;
}

.claimTable td {
    padding-left: 80px;
    padding-top: 100px;
}

.alternate-id-code {
    font-size: 175px;
}

.book-heading {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
}

.price-heading {
    display: block;
    font-size: 2.5em;
    font-weight: bold;
}

.price-text-large {
    font-size: 1.5em;
}

.price-text-medium {
    font-size: 1.2em;
}

.bold {
    font-weight: bold;
}

.armory-table {
    width: 100%;
    margin: 50px;
}

.loader-center {
    margin-left: 30px;
}

.center-content {
    width: 55%;
    height: 500px;
    float: left;
    background: none;
}

.center-content-top {
    float: left;
    width: 525px;
    margin-bottom: 80px;
    margin-top: 30px;
}

.center-content-bottom {
    float: left;
}

.armory-content {
    width: 65%;
    height: 500px;
    float: left;
    background: none;
}

.contact-us-content {
    width: 95%;
    height: 500px;
    float: left;
    background: none;
}

.faq-content {
    width: 100%;
    height: 500px;
    float: left;
    background: none;
}

.faq-content h2 {
    font-size: 1.1em;
    font-style: italic;
}

.faq-content h3 {
    font-size: 1em;
    font-weight: bold;
}

.armory-description {
    width: 35%;
    float: right;
}

.prices-content h2 {
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}

.links-content h2 {
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}

.center-content h2 {
    font-size: 1em;
    font-style: italic;
}

.center-content h3 {
    font-size: 1em;
    font-weight: bold;
}

.inner-content {
    width: 38%;
    float: right;
    padding-right: 50px;
}

.news-content {
    height: 178px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.inner-content .ui-widget-content {
    border: none;
    background: none;
}


.carousel-size {
    width: 330px;
    height: 130px;
}

.price-colour {
    color: greenyellow;
}

.gallery-wrapper {
    /*    height: 500px;
        overflow: auto;        */
}

.gallery-videos {
    float: left;
    width: 140px;
}

.gallery-images {
    float: left;
    width: 825px;
    height: 475px;
    overflow: auto;
}

.gallery-item-wrapper {
    padding-right: 19px;
}

.shop-wrapper {
    height: 480px;
    overflow: auto;    
}

.shop-item-wrapper {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}

.item-zoom-description {
    width: 330px;
}

.footer {
    position: absolute;
    bottom: 30px;
    width: 950px;
}

.scroll-bars {
    overflow: auto;
}

.help-box {
    padding-top: 70px;
    font-size: 1.1em;
}

.help-box a:link {
    color: white;
}

.help-box a:visited {
    color: white;
}

div.help-overlay-div
{
    visibility: hidden;
    position:absolute;
    left:0px;
    top:0px;
    font-family:verdana;
    font-weight:bold;
    padding:40px;
    z-index:1000;
    width: 945px;
    height: 691px;
    background-color: black;
    opacity: 0.7;
    font-size: 4em;    
}
.help-close {
    position: absolute;
    margin-top: 55px;
    left: 870px;
    font-size: 0.4em;
}

.help-close a {    
    text-decoration: none;
}

.help-close a:link {
    color: white;
}

.help-close a:visited {
    color: white;
}

.help-config {
    cursor:help;
}

.help-create-game {
    float: left;
    padding-left: 50px;
}

.help-join-game {
    float: left;
    padding-left: 120px;
}

.help-logo-padding {
    float: left;
    width: 425px;
    height: 60px;
}

.help-profile-picture {
    float: left;
    padding-left: 50px;
    padding-right: 130px;
}

.help-facebook-login {
    float: left;
    margin-top: -19px;
    padding-bottom: 73px;
    padding-right: 15px;
}

.help-home {
    float: left;
    padding-left: 5px;
}

.help-prices {
    float: left;
    padding-left: 50px;
}

.help-armory {
    float: left;
    padding-left: 55px;
}

.help-rankings {
    float: left;
    padding-left: 65px;
}

.help-achievements {
    float: left;
    padding-left: 100px;
}

.help-shop {
    float: left;
    padding-left: 95px;
}

.help-faq {
    float: left;
    padding-left: 25px;
}

.help-gallery {
    float: left;
    padding-left: 35px;
}

.help-links {
    float: left;
    padding-left: 50px;
}

.help-links {
    float: left;
    padding-left: 50px;
}

.help-contact-us {
    float: left;
    padding-left: 70px;
}

.help-tooltip {
    width: 600px;    
}

.quick-quote-box {
    float: left;
    width: 150px;
    height: 20px;    
}

.fb-like-box {
    float: right;
    width: 130px;
    height: 20px;  
    margin-right: 25px;
}

.booking-message {
    float: left;
}

.booking-tutorial {
    float: right;
    margin-right: 25px;
    width: 75px;
    height: 15px;
}

.help-video-wrapper {
    width: 600px;
    height: 500px;
    float: left;
}

.help-video-text {
    float: right;
    width: 360px;
}

.mini-game-code {
    font-family: verdana;
    font-weight: bold;
    font-size: 1.5em;
}