<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

    <composite:interface>
        <composite:attribute name="eventList" required="true"/>
        <composite:attribute name="rows" required="false" default="8"/>
        <composite:attribute name="paginator" required="false" default="true"/>
    </composite:interface>

    <composite:implementation>
        
        <p:outputPanel id="dataTableWrapper">
            <p:dataTable value="#{cc.attrs.eventList}" var="eventProxy" rows="#{cc.attrs.rows}"
                         styleClass="create-game-data-table" id="eventListDataTable" widgetVar="eventListDataTableWidgetVar"
                         paginator="#{cc.attrs.paginator}" paginatorPosition="bottom">

                <p:column headerText="Date">
                    <h:outputText value="#{eventProxy.dateFormatted}"/>
                </p:column>

                <p:column headerText="Session">
                    <h:outputText value="#{eventProxy.sessionDescription}"/>
                </p:column>

                <p:column headerText="Type">
                    <h:outputText value="#{eventProxy.event.privateEvent ? 'Private' : 'Public'}"/>
                </p:column>

                <!-- Name of the event -->
                <p:column headerText="Name">
<!--                    <p:commandLink value="#{eventProxy.event.name}"
                                   action="#{eventSelectionBean.setSelectedEvent(eventProxy)}"
                                   oncomplete="eventSignUpDetailsWidgetVar.show()"
                                   update=":eventSignUpDetailsForm:eventSignUpDetailsDialog"
                                   rendered="#{eventProxy.event.playersJoined > 0}"/>

                    <h:outputText value="#{eventProxy.event.name}" rendered="#{eventProxy.event.playersJoined == 0}"/>-->
                    <h:outputText value="#{eventProxy.event.name}"/>
                </p:column>

                <!-- Details of where the event will be held -->
                <p:column headerText="Location">
                    <p:commandLink value="#{eventProxy.event.map.name}"
                                   action="#{eventSelectionBean.setSelectedMap(eventProxy.event.map)}"
                                   oncomplete="mapZoomDialogWidgetVar.show()"
                                   update=":mapZoomDialogForm:mapZoomDialog"
                                   rendered="#{!eventProxy.event.privateEvent}"/>
                </p:column>

                <!-- What type of map, inflatables, urban, woodlands.  Only show for Laser Commando maps -->
                <p:column headerText="Category">
                    <h:outputText value="#{eventProxy.event.map.mapCategoryDescription}" rendered="#{eventProxy.statusDescription eq 'Booked'}"/>
                </p:column>

                <!-- Number of players that can play on the map and positions filled -->
                <p:column headerText="Available">
                    <h:outputText style="#{eventProxy.eventCapacity eq '>20' ? 'color: white' : 'color: #FF6B6B;'}"
                                  value="#{eventProxy.eventCapacity}" rendered="#{eventProxy.statusDescription eq 'Booked'}"/>
                </p:column>

                <!-- Action column -->
                <p:column>
                    <p:commandButton value="JOIN"
                                     action="#{eventSelectionBean.startJoiningProcess(eventProxy)}"
                                     rendered="#{!eventProxy.event.privateEvent}"
                                     immediate="true"/>
                </p:column>

            </p:dataTable>
        </p:outputPanel>
    </composite:implementation>
</html>