<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

    <composite:interface>
        <composite:attribute name="eventList" required="true"/>
    </composite:interface>

    <composite:implementation>        
        <p:dataTable value="#{cc.attrs.eventList}" var="eventProxy" rows="4"
                     styleClass="create-game-data-table" id="eventListDataTable" widgetVar="eventListDataTableWidgetVar">

            <p:column headerText="Date">
                <h:outputText value="#{eventProxy.dateFormatted}"/>
                <h:outputText value=" - "/>
                <h:outputText value="#{eventProxy.sessionDescription}"/>
            </p:column>

            <!-- Details of where the event will be held -->
            <p:column headerText="Location">
                <p:commandLink value="#{eventProxy.event.map.name}"
                               action="#{eventSelectionBean.setSelectedMap(eventProxy.event.map)}"
                               oncomplete="mapZoomDialogWidgetVar.show()"
                               update=":mapZoomDialogForm:mapZoomDialog"
                               rendered="#{!eventProxy.event.privateEvent}"/>
            </p:column>

            <!-- Number of players that can play on the map and positions filled -->
            <p:column headerText="Avail">
                    <h:outputText style="#{eventProxy.eventCapacity eq '>20' ? 'color: white' : 'color: #FF6B6B;'}"
                                  value="#{eventProxy.eventCapacity}" rendered="#{eventProxy.statusDescription eq 'Booked'}"/>
            </p:column>

            <!-- Action column -->
            <p:column>
                <p:commandButton value="JOIN"
                                 action="#{eventSelectionBean.startQuickJoiningProcess(eventProxy)}"
                                 rendered="#{!eventProxy.event.privateEvent}"/>
            </p:column>

        </p:dataTable>
    </composite:implementation>
</html>