<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

    <composite:interface>
        <composite:attribute name="eventList" required="true"/>
    </composite:interface>

    <composite:implementation>
        <p:dataTable value="#{cc.attrs.eventList}" var="eventProxy" rows="8"
                     styleClass="create-game-data-table" id="eventListDataTable" widgetVar="eventListDataTableWidgetVar"
                     paginator="true" paginatorPosition="bottom">

            <p:column headerText="Date">
                <h:outputText value="#{eventProxy.dateFormatted}"/>
            </p:column>

            <p:column headerText="Session">
                <h:outputText value="#{eventProxy.sessionDescription}"/>
            </p:column>

            <!-- Action column -->
            <p:column>
                <p:commandButton value="SELECT TIME SLOT"
                                 action="#{eventSelectionBean.startBookingProcess(eventProxy)}"
                                 rendered="#{eventProxy.statusDescription eq 'Available'}"/>
            </p:column>

        </p:dataTable>
    </composite:implementation>
</html>