<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="description">
        <meta name="description" content="Visit our Gallery page to see photos and videos of previous laser tag games. To book a laser game with us call 0468 488 TAG (824) for laser tag fun in Brisbane" />
    </ui:define>

    <ui:define name="windowTitle" >
        Gallery - Laser Skirmish Fun, Games &amp; Events Brisbane QLD
    </ui:define>

    <ui:define name="center">
        <div class="gallery-wrapper">
            <div class="gallery-videos">
                <table>
                    <ui:repeat value="#{youTubeBean.movieList}" var="movie" varStatus="status">
                        <h:panelGroup rendered="#{status.index mod 1 eq 0}">
                            <tr></tr>
                        </h:panelGroup>
                        <td>
                            <iframe class="youtube-player" type="text/html"
                                    width="120" height="120"
                                    src="http://www.youtube.com/embed/#{movie.code}" frameborder="0"/>
                        </td>
                    </ui:repeat>
                </table>
            </div>

            <div class="gallery-images">
                <table>
                    <ui:repeat value="#{facebookAlbumBean.photoList}" var="photo" varStatus="status">
                        <h:panelGroup rendered="#{status.index mod 5 eq 0}">
                            <tr></tr>
                        </h:panelGroup>
                        <td>
                            <div class="gallery-item-wrapper white-anchor">
                                <h:form>
                                    <h:panelGrid columns="1" style="height: 100%">
                                        <p:commandLink action="#{facebookAlbumBean.setSelectedPhoto(photo)}"
                                                       oncomplete="galleryItemDialogWidgetVar.show();"
                                                       immediate="true"
                                                       update=":galleryItemDialogPanelGroup">
                                            <p:graphicImage value="#{photo.picture}"/>
                                        </p:commandLink>
                                    </h:panelGrid>
                                </h:form>
                            </div>
                        </td>
                    </ui:repeat>
                </table>
            </div>
        </div>
    </ui:define>
</ui:composition>