<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/templates/eventBookingLayout.xhtml">

    <ui:define name="windowTitle" >
        Extras - Laser Skirmish Fun, Games &amp; Events Brisbane QLD
    </ui:define>

    <ui:define name="center">
        <h:form id="exstrasForm">
            <h:panelGrid columns="1">
                <h:panelGroup>
                    <h:outputText value="Please note: If you decide to not take any camo then all players need to have long pants covering their ankles or they will not be allowed to play and no refunds will be given"/>
                </h:panelGroup>
                <h:outputText value="&#160;"/>
            </h:panelGrid>

            <h:panelGrid columns="4" styleClass="ninety-percent-table">
                <h:outputText value="Total player cost  "/>
                <h:outputText id="totalPlayerCost" value="#{eventSelectionBean.totalPlayerCost}">
                    <f:convertNumber type="currency" />
                </h:outputText>

                <h:outputText value="Total extras cost  "/>
                <h:outputText id="totalExtrasCost" value="#{eventSelectionBean.totalExtrasCost}">
                    <f:convertNumber type="currency" />
                </h:outputText>

                <h:outputText styleClass="bold" value="Total  "/>
                <h:outputText styleClass="bold" id="totalCost" value="#{eventSelectionBean.totalCost}">
                    <f:convertNumber type="currency" />
                </h:outputText>
            </h:panelGrid>

            <h:panelGrid columns="4" styleClass="book-game-table">
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="Extras" styleClass="book-heading"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
            </h:panelGrid>

            <table class="ninety-percent-table">
                <ui:repeat value="#{eventSelectionBean.productOrderList}" var="productOrder" varStatus="status">
                    <h:panelGroup rendered="#{status.index mod 2 eq 0}">
                        <tr></tr>
                    </h:panelGroup>
                    <td>
                        <h:outputText value="#{productOrder.product.name}" title="#{productOrder.product.description}"/>
                        <h:outputText value="&#160;"/>
                        <h:outputText value="("/>
                        <h:outputText value="#{productOrder.product.price}">
                            <f:convertNumber type="currency" />
                        </h:outputText>
                        <h:outputText value=")"/>
                    </td>
                    <td>
                        <p:spinner min="0" max="99" value="#{productOrder.quantity}" size="2">
                            <p:ajax event="change" listener="#{eventSelectionBean.calculateExtrasCost}" update=":exstrasForm:totalExtrasCost :exstrasForm:totalCost"/>
                        </p:spinner>
                    </td>
                    <td> </td>
                    <td> </td>
                </ui:repeat>
            </table>

            <h:panelGrid columns="4" styleClass="book-game-table">
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

                <p:commandButton value="Back" action="game.jsf?faces-redirect=true" immediate="true"/>
                <h:outputText value="&#160;"/>
                <p:commandLink action="#{eventSelectionBean.bookCheckOut()}" ajax="false" onclick="pleaseWaitDialogWidgetvar.show();">
                    <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"/>
                </p:commandLink>
                <h:outputText value="&#160;"/>
            </h:panelGrid>
        </h:form>

    </ui:define>
</ui:composition>