<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:map="http://java.sun.com/jsf/composite/components/map"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/templates/eventBookingLayout.xhtml">

    <ui:define name="windowTitle" >
        Laser Commando - Laser skirmish - Location entry
    </ui:define>

    <ui:define name="center">
        <h:form id="pickOrPayForm">
            <h:panelGrid columns="1">
                <h:panelGroup>
                    <h:outputText value="Fields marked with "/>
                    <h:outputText styleClass="required-field" value="*"/>
                    <h:outputText value=" are required "/>
                </h:panelGroup>
            </h:panelGrid>

            <h:panelGrid columns="2" styleClass="ninety-percent-table">
                <h:outputText value="Location details" styleClass="book-heading"/>
                <h:outputText value="&#160;"/>
                
                <h:outputText value="Location Name"/>
                <h:panelGroup>
                    <h:inputText id="mapName" value="#{eventSelectionBean.selectedEvent.event.map.name}"
                                 maxlength="20"/>
                    <!--                            <p:tooltip for="mapName" value="The name of the location"/>-->
                </h:panelGroup>

                <h:panelGroup>
                    <h:outputText value="Address line 1"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <h:inputText id="addressLine1" value="#{eventSelectionBean.selectedEvent.event.map.address1}" required="true"
                             style="#{component.valid ? '' : 'border: solid 1px red;'}"
                             requiredMessage="Please enter address line 1" maxlength="20"/>

                <h:panelGroup>
                    <h:outputText value="Address line 2"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <h:inputText id="addressLine2" value="#{eventSelectionBean.selectedEvent.event.map.address2}" required="true"
                             style="#{component.valid ? '' : 'border: solid 1px red;'}"
                             requiredMessage="Please enter address line 2" maxlength="20"/>

                <h:panelGroup>
                    <h:outputText value="City/Town"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <h:inputText id="city" value="#{eventSelectionBean.selectedEvent.event.map.city}" required="true"
                             style="#{component.valid ? '' : 'border: solid 1px red;'}"
                             requiredMessage="Please enter the city" maxlength="20"/>

                <h:panelGroup>
                    <h:outputText value="State"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <h:outputText id="state" value="#{eventSelectionBean.selectedEvent.event.map.state}"/>

                <h:panelGroup>
                    <h:outputText value="Postal code"/>
                    <h:outputText styleClass="required-field" value=" *" />
                </h:panelGroup>
                <h:inputText id="postalCode" value="#{eventSelectionBean.selectedEvent.event.map.postalCode}" required="true"
                             style="#{component.valid ? '' : 'border: solid 1px red;'}"
                             requiredMessage="Please enter the postal code" maxlength="6"/>

                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

                <h:outputText value="Location Notes/Directions"/>
                <h:panelGroup>
                    <h:inputTextarea id="mapDescription" cols="40" rows="8" value="#{eventSelectionBean.selectedEvent.event.map.description}" >
                        <f:validateLength maximum="155"/>
                    </h:inputTextarea>
                    <!--                            <p:tooltip for="mapDescription" value="Please give more detail about the location so that it will be easier for your party to find it"/>-->
                </h:panelGroup>

                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:panelGroup>
                    <p:commandButton value="Back" action="contact.jsf?faces-redirect=true" immediate="true"/>
                    <p:commandButton value="Next" action="game.jsf?faces-redirect=true"/>
                </h:panelGroup>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

            </h:panelGrid>
        </h:form>
    </ui:define>

</ui:composition>