<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="description">
        <meta name="description" content="What is laser tag? It is also known as laser skirmish, laser games, lazer tag, lazertag, laser strike, lasertag or laser tag games. Got more questions about laser skirmish? Call us on 0468 488 TAG (824)  or email rogue@lasercommando.com.au - Laser Commando specialises in outdoor laser tag fun in Brisbane" />
    </ui:define>

    <ui:define name="windowTitle" >
        Laser Commando FAQ - Outdoor laser skirmish events
    </ui:define>

    <ui:define name="center">
        <div class="faq-content scroll-bars white-anchor">
            <p>
                <h2>Locations</h2>
                <h3>Which areas do you cover?</h3>
                We cover any area within 1 hour drive from Bracken Ridge but we are flexible. Contact us to discuss
                your event.
            </p>
            <br/>
            <p>
                <h2>Price and payments</h2>
                <p>
                    <h3>Do children pay half price?</h3>
                    Our prices apply to children and adults.
                </p>
                <br/>
                <p>
                    <h3>Do you pay extra for ammunition?</h3>
                    Not at all! It is included in the price. You can reload at no extra cost.
                </p>
                <br/>
                <p>
                    <h3>Can I pay on the day?</h3>
                    Yes, but discounts do not apply and only cash payments are accepted.
                </p>
                <br/>
                <p>
                    <h3>Can I have a refund if a friend cancelled?</h3>
                    Unfortunately, we do not give refunds but we will gladly convert the payment into credits which
                    can be used to purchase from our shop.
                </p>
            </p>
            <br/>
            <p>
                <h2>Contacting Laser Commando</h2>
                <p>
                    <h3>I phoned Laser Commando but I got voicemail. How soon will someone reply?</h3>
                    Within 1 hour.
                </p>
                <br/>
                <p>
                    <h3>What is the fastest way to get hold of Laser Commando?</h3>
                    The fastest way is via email. Click <a href="mailto:rogue@lasercommando.com.au" target="_blank" title="Laser Commando contact">here</a> to contact us.
                </p>
            </p>
            <br/>
            <p>
                <h2>Safety</h2>
                <p>
                    <h3>Are your phasers safe?</h3>
                    Yes, our phasers are harmless. They shoot invisible, harmless infrared beams, just like a TV remote
                    control.
                </p>
                <br/>
                <p>
                    <h3>Can the laser beams hurt your eyes?</h3>
                    No. The infrared laser is not harmful to your eyes as it is invisible.
                </p>
                <br/>
                <p>
                    <h3>Is it painful if you get tagged?</h3>
                    Our phasers shoot high-powered infrared ‘ghost bullets’, thus no pain or bruises!
                </p>
            </p>
            <br/>
            <p>
                <h2>Clothes</h2>
                <p>
                    <h3>Can I play wearing thongs?</h3>
                    No, only closed shoes are allowed.
                </p>
                <br/>
                <p>
                    <h3>Can I play without camo?</h3>
                    Yes, as long as you have long trousers on that covers your ankles. We also recommend long sleeve
                    shirts but it is not compulsory. Please note that you won’t be able to hide well from your opponent
                    in the bush without a camo overall.
                </p>
            </p>
            <br/>
            <p>
                <h2>The Game</h2>
                <p>
                    <h3>Is my child too young to play?</h3>
                    If she/he can walk, they can play.
                </p>
                <br/>
                <p>
                    <h3>Does a two hours session mean we play for an entire 2 hours?</h3>
                    No, each 2 hour session is split up into 4/3 15 or 30 min games. The session also includes signing in
                    at reception, gearing up, briefing and short breaks.
                </p>
                <br/>
                <p>
                    <h3>What is the minimum and maximum amount of players for a game?</h3>
                    We suggest a minimum of six but a maximum amount of players can cater for is currently 40.
                </p>
                <br/>
                <p>
                    <h3>How does the game work?</h3>
                    Players are divided into two teams and briefed on their missions. Players wear a hat/cap which has
                    sensors attached to it. When a player shoots another player, the phaser sends a coded message to
                    the sensors. Both players receive a hit feed from the sensors stating "Deactivated", "Tagged" and
                    more with sound effects such as bypassing bullets and more.
                </p>
                <br/>
                <p>
                    <h3>What are the rules of the game?</h3>
                    The golden rule is: safety first or no play!
                    <ul>
                        <li>- Remain within designated areas</li>
                        <li>- Abide by ALL rules</li>
                        <li>- Follow staff directives</li>
                        <li>- No Physical contact</li>
                        <li>- No reckless behaviour to self or others</li>
                        <li>- No jumping over or moving barricades</li>
                        <li>- No throwing or kicking of projectiles</li>
                        <li>- Wear safety devices and required clothing at all times: long trousers covering ankles, enclosed shoes and hats/caps provided.</li>
                        <li>- Notify staff of injury or reckless behaviour</li>
                    </ul>
                </p>
                <br/>
                <p>
                    <h3>What to expect when you arrive:</h3>
                    <ul>
                        <li>Please arrive 30 minutes earlier to hand in your completed membership form and pay, if you have not made an online payment. Thereafter you will receive an armband.</li>
                        <li>Disposable camo’s will then be distributed.</li>
                        <li>You then choose a phaser from the available weapon range.</li>
                        <li>The sensors of the phaser are attached to a headband - please do not put the headband on before receiving the bandana/cap.</li>
                        <li>Players will then be divided into groups and handed a hat/cap which will distinguish them from their opponent.</li>
                        <li>Players spend some time to get to know their weapons.</li>
                    </ul>
                </p>

                <p>
                Players are then briefed on:
                <ul>
                    <li>- Safety and rules</li>
                    <li>- How to wear your sensors correctly</li>
                    <li>- How your weapon works</li>
                    <li>- How to reload</li>
                    <li>- How to re-spawn</li>
                    <li>- The boundaries</li>
                    <li>- The mission and more</li>
                </ul>
                Groups are then taken to their starting points.
                </p>
                <br/>
                <p>
                    <h3>What should I bring?</h3>
                    <ul>
                        <li>- Completed membership form</li>
                        <li>- Closed shoes</li>
                        <li>- Pants that cover your ankles</li>
                        <li>- Money for toys and beverages</li>
                    </ul>
                </p>
                <br/>
                <p>
                    <h3>Do you hire out equipment?</h3>
                    Yes, we do! Contact us to find out more.
                </p>
            </p>
        </div>
    </ui:define>
</ui:composition>