<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="windowTitle" >
        Rankings - Laser Skirmish Fun, Games &amp; Events Brisbane QLD
    </ui:define>

    <ui:define name="description">
        <meta name="description" content="Join our laser skirmish ranks! Laser Commando players are awarded laser tag ranks for number of games played. Climb our laser skirmish levels for discounts on laser tag sessions in Brisbane" />
    </ui:define>

    <ui:define name="keywords">
        <meta name="keywords" content="laser skirmish ranks, laser tag ranks, laser skirmish levels, laser tag levels, brisbane" />
    </ui:define>

    <ui:define name="center">
        <div class="armory-content white-anchor scroll-bars">
            <h:panelGrid id="ranksTable" columns="1">
                <p:graphicImage value="/images/ranks/ranks.jpg"/>
            </h:panelGrid>
        </div>

        <div class="armory-description scroll-bars">
            <p>
                Join our ranks! Laser Commando players are awarded ranks according to the number of games
                they played. Collect a Game Code card and a code assigned to the particular game you played,
                at reception. Write down the game code on the card. Then log into our site with your Facebook
                account to claim your rank in our Top Secret member area.
            </p>
            <br/>
            <p>
                Your rank will showcase on your Laser Commando profile. Climb the ranks with each game you
                play then compare your profile with other players! Once you have achieved a certain rank you can
                purchase an armband that will show off your rank and experience.
            </p>
        </div>

    </ui:define>
</ui:composition>