<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="description">
        <meta name="description" content="Claim achievement badges according to laser game types you play. The types of laser tag games include Rescuer, VIP, Mad hatter and more. Laser Commando - hosting laser skirmish games in Brisbane!" />
    </ui:define>

    <ui:define name="keywords">
        <meta name="keywords" content="laser games, laser game levels, laser game types, laser tag games, laser skirmish games, brisbane" />
    </ui:define>

    <ui:define name="windowTitle" >
        Prices - Laser Skirmish Fun, Games &amp; Events Brisbane QLD
    </ui:define>

    <ui:define name="center">
        <div class="prices-content white-anchor">

            <h2>Laser Game Achievements</h2>
            <p>
                Every time you play a different type of laser game you can claim an achievement badge.
            </p>
            <br/>
            <p>
                Simply collect an Achievement Code card after a game, state the achievement you qualify for and you will
                receive a code after approval. To claim it, log into our website with your Facebook account, enter
                the code in our member area and the achievement will showcase in your Laser Commando profile.
                Compare and share your achievement with others on <a href="http://lasercommando.com.au/facebook" target="_blank" title="Laser Commando Facebook page">Facebook!</a>
            </p>
            <br/>
            <p>
                <h2>Types of achievements:</h2>
                <ul>
                    <li>Party animal – played a game on your birthday</li>
                    <li>Terminator – played as the Terminator</li>
                    <li>Armourer – played with your own phaser</li>
                    <li>Hot weather – played in 40 degrees heat</li>
                    <li>Foul weather – played while it stormed</li>
                    <li>Cold weather – played in 10 degrees weather</li>
                    <li>Squad leader – lead a squad</li>
                    <li>Medic – played as a medic</li>
                    <li>Scenatio Dev – developed your own game scenario</li>
                    <li>Night time – played missions at night</li>
                    <li>Game creator – organised games</li>
                    <li>Public gamer – played public games</li>
                    <li>Private gamer – played private games</li>
                    <li>Rental gamer – rented packages</li>
                    <li>Explosive ordnance – used a claymore mine in missions</li>
                    <li>Rescuer – did a course in emergency response</li>
                    <li>Mad hatter – bought one of each hat</li>
                    <li>Radio gamer – played missions using walkie talkies</li>
                    <li>VIP – played as a VIP in VIP missions</li>
                    <li>The Kid – played missions with the 6 shooter</li>
                </ul>
            </p>
        </div>
    </ui:define>
</ui:composition>