<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="windowTitle" >
        Laser Commando Events
    </ui:define>
    
    <ui:define name="eastTop" >
        <p:carousel circular="true" effectDuration="#{webConstantsBean.effectDuration}"
                    autoPlayInterval="#{webConstantsBean.autoPlayInterval}"
                    value="#{homeBean.advertList}" var="advert"
                    rows="1" pageLinks="0" >
            <p:graphicImage value="/images/#{advert.imageName}" width="400" height="200"/>
        </p:carousel>
    </ui:define>

    <ui:define name="eastBottom" >
        <p:carousel circular="true" effectDuration="#{webConstantsBean.effectDuration}"
                    autoPlayInterval="#{webConstantsBean.autoPlayInterval}"
                    value="#{homeBean.advertList}" var="advert"
                    rows="1" pageLinks="0" >
            <p:graphicImage value="/images/#{advert.imageName}" width="400" height="200"/>
        </p:carousel>
    </ui:define>
</ui:composition>