<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:booking="http://java.sun.com/jsf/composite/components/booking"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="pageHead">
    </ui:define>

    <ui:define name="description">
        <meta name="description" content="Live action laser skirmish | Laser Tag Party Hire |Weekend laser skirmishing in Brisbane | No pain just game! | Games for all ages" />
    </ui:define>

    <ui:define name="keywords">
        <meta name="keywords" content="laser tag,Laser skirmish,Laser games,Skirmish,Laser skirmishing, brisbane" />
    </ui:define>

    <ui:define name="windowTitle" >
        Laser Commando - Outdoor laser skirmish events
    </ui:define>

    <ui:define name="center">
        <div class="center-content white-anchor scroll-bars">
            <div class="center-content-top">
                <p>
                    <h1>Halloween is almost here</h1>
                    Become a Zombie or a survivor 3 November with Laser Commando.  The only laser skirmish provider in the North that can turn you into a Zombie
                    <br/>
                    Laser Commando staff will be dressed up as mad scientists.  Come dressed up in your best Halloween outfit
                    <br/>
                    Book now, spaces are limited for the best event of the year
                </p>
                <br/>
                <br/>
                <p>
                    <h2>Laser Skirmish Events</h2>
                    We specialise in laser skirmish in Brisbane for: parties, corporate events, get-togethers, school breakups, shows,
                    fetes, team building and more!
                </p>
                <br/>
                <p>
                    <h:outputText value="Booking is essential." styleClass="bold"/> If you experience any difficulty with online bookings please contact us:
                    <a href="mailto:rogue@lasercommando.com.au" title="Laser Commando contact">rogue@lasercommando.com.au</a> or <h:outputText styleClass="bold" value="0468 488 TAG (824)"></h:outputText>
                </p>
                <br/>

            </div>
            <div class="center-content-bottom">
                <table>
                    <ui:repeat value="#{youTubeBean.movieList}" var="movie" varStatus="status">
                        <h:panelGroup rendered="#{status.index mod 4 eq 0}">
                            <tr></tr>
                        </h:panelGroup>
                        <td>
                            <iframe class="youtube-player" type="text/html"
                                    width="125" height="125"
                                    src="http://www.youtube.com/embed/#{movie.code}" frameborder="0"/>
                        </td>
                    </ui:repeat>
                </table>
            </div>
        </div>
        <div class="inner-content scroll-bars news-content">
            <h:outputText value="NEWS" styleClass="book-heading"/>
            <h:panelGrid columns="1">
                <h:outputText value="#{facebookFeedBean.latestNews}"/>
                <p:graphicImage value="#{facebookFeedBean.latestNewsImageUrl}"/>
            </h:panelGrid>
        </div>
        <div class="inner-content">
            <h:form>
                <h:outputText value="QUICK JOIN GAME" styleClass="book-heading"/>
                <h:panelGroup>
                    <f:event type="preRenderComponent" listener="#{eventSelectionBean.selectExistingGame()}"/>
                    <booking:bookingListQuick eventList="#{eventSelectionBean.existingEventsList}"/>
                </h:panelGroup>
            </h:form>
        </div>
    </ui:define>

</ui:composition>