<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:booking="http://java.sun.com/jsf/composite/components/booking"
                template="/templates/sixBoxLayout.xhtml">

    <ui:define name="pageHead">
    </ui:define>

    <ui:define name="keywords">
        <meta name="keywords" content="laser tag,Laser skirmish,Laser games,Skirmish,Laser skirmishing, brisbane" />
    </ui:define>

    <ui:define name="windowTitle" >
        Laser Commando - Outdoor laser skirmish events
    </ui:define>

    <ui:define name="center">
        <div class="center-content white-anchor scroll-bars">
            <p>
                <h2>What is laser skirmish?</h2>
                Laser skirmish, also known as Laser Tag, is the ultimate combat laser game without the pain. Don’t
                just play the game – live it!
            </p>
            <br/>
            <p>
                <h2>About us</h2>
                Laser Commando is a mobile laser skirmish service provider in the North of Brisbane. We provide laser skirmish services for
                both public and private events in and around Brisbane.
            </p>
            <br/>
            <p>
                <h2>Laser skirmish events</h2>
                We specialise in laser skirmish in Brisbane for: parties, corporate events, get-togethers, school breakups, shows,
                fetes, team building and more!
            </p>
            <br/>
            <p>
                Book now and experience the best laser skirmishing in Brisbane. Visit our <a href="/bookgame/existinggame/index.jsf" title="Laser Commando laser skirmish events calendar">events calendar</a> to see upcoming events.
            </p>
            <br/>
            <p>
                We have themed events throughout the year. Sign up <a href="mailto:rogue@lasercommando.com.au" title="Laser Commando subscribe to our laser skirmish newsletter">here</a> to subscribe to our free newsletter or like
                our <a href="http://lasercommando.com.au/facebook" target="_blank" title="Laser Commando Facebook page">Facebook page</a> to receive notification of events.
            </p>
            <br/>
            <p>
                <h2>Get started</h2>
                <a href="/bookgame/newgame/index.jsf" title="Laser Commando create a new game">Create Game</a> – create a private game at your location
                <br/>
                <a href="/bookgame/existinggame/index.jsf" title="Laser Commando join an existing game">Join Game</a> – join in the fun at one of our set locations
            </p>
            <br/>
            <p>
                <h:outputText value="Booking is essential." styleClass="bold"/> If you experience any difficulty with online bookings please contact us:
                <a href="mailto:rogue@lasercommando.com.au" title="Laser Commando contact">rogue@lasercommando.com.au</a> or 0468 488 TAG (824)
            </p>
            <br/>
            <p>
                <h2>Laser Commando laser skirmish set locations:</h2>
                <a href="http://www.zillmeress.eq.edu.au" target="_blank" title="Zillmere State School, Murphy Road, Zillmere QLD 4034, Brisbane, Queensland">Zillmere State School</a> - Murphy Road, Zillmere
                <br/>
                <a href="http://murrenbong.org.au" target="_blank" title="Murrenbong Scouts Camp number 2, 135 Scout Road, Kurwongbah 4503, Brisbane, Queensland">Murrenbong Scouts Camp</a> - 135 Scout Road, Kurwongbah
                <br/>
                <!--                <h:outputText value="NEW:" styleClass="bold"/> <a href="http://www.scoutsqld.com.au/index.cfm?MenuID=122" target="_blank" title="Baden Powell Park, 69/71 Cash Avenue, Samford, Samford Valley, Brisbane, Queensland">Baden Powell Park</a> - 69/71 Cash Avenue, Samford, Samford Valley
                                <br/>-->
            </p>
            <br/>
            <p>
                <h:outputText value="Experience the best laser skirmish gaming with us!" styleClass="bold"/>
            </p>
            <br/>
            <p>
                <h2>We offer:</h2>
                <ul>
                    <li>- Professional service</li>
                    <li>- Great venues</li>
                    <li>- The option of outdoor laser skirmish at YOUR venue</li>
                    <li>- Challenges that will get your adrenaline pumping and brain working</li>
                    <li>- Fast and easy online booking</li>
                    <li>- Rankings to boast about to your friends</li>
                    <li>- Achievement rewards</li>
                </ul>
            </p>
            <br/>
            <p>
                <a href="/facebook" target="_blank" title="Laser Commando Facebook page">Facebook</a> – like us if you like to play
                <br/>
                <a href="/youtube" target="_blank" title="Laser Commando YouTube page">YouTube</a> – view footage from our laser Skirmish events and more
                <br/>
                <a href="mailto:rogue@lasercommando.com.au" title="Laser Commando newsletter">Newsletter</a> – subscribe and stay informed
            </p>
        </div>
        <div class="inner-content white-anchor">
            <div class="quick-quote-box white-anchor">
                <h:form>
                    <p:commandLink action="#{eventSelectionBean.startQuoteProcess()}" ajax="false">
                        <h:outputText value="QUICK QUOTE" styleClass="book-heading"/>
                    </p:commandLink>
                </h:form>
            </div>
<!--            <div class="fb-like-box">
                <div class="fb-like" data-href="http://www.facebook.com/pages/Laser-Commando/345984762150007" 
                     data-send="true"
                     data-layout="button_count"
                     data-width="350" data-show-faces="true" data-colorscheme="dark" data-font="arial"></div>
            </div>-->
        </div>

        <div class="inner-content scroll-bars news-content">
            <h:outputText value="NEWS" styleClass="book-heading"/>
            <h:panelGrid columns="1">
                <h:outputText value="#{facebookFeedBean.latestNews}"/>
                <p:graphicImage value="#{facebookFeedBean.latestNewsImageUrl}"/>
            </h:panelGrid>
        </div>
        <div class="inner-content">
            <h:form>
                <h:outputText value="QUICK JOIN GAME" styleClass="book-heading"/>
                <h:panelGroup>
                    <f:event type="preRenderComponent" listener="#{eventSelectionBean.selectExistingGame()}"/>
                    <booking:bookingListQuick eventList="#{eventSelectionBean.existingEventsList}"/>
                </h:panelGroup>
            </h:form>
        </div>
    </ui:define>

</ui:composition>